{% include "shop/base.html" with notification=notification cart_border=True cart_page=True api_key=api_key notfound=False %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container-md">
      <div id="cart-header">
        <h1 >KOSÁR</h1>
      </div>
      {% if cart|length > 0 %}
      <div id="cart-item-rows">
          {% for key, value in cart.cart.items %}
          <div class="row cart-item-row">
              <div class="col-1 item-index"><span>{{ forloop.counter }}</span></div>
              <div class="col-7 item-details">
                  <div class="item-details-image-wrapper">
                      {% if value.type == 'product' or value.type == 'product_type' %}
                      <picture>
                          <source srcset="{% if value.image == '' %}{{ value.image.url|wp }}{% else %}
                          {{ value.image|wp }}{% endif %}" type="image/webp">
                          <source srcset="{% if value.image == '' %}{{ value.image.url }}{% else %}
                          {{ value.image }}{% endif %}" type="image/png">
                          <img src="{% if value.image == '' %}{{ value.image.url }}{% else %}
                          {{ value.image }}{% endif %}" alt="{{ value.product_name }}"
                               title="{{ value.product_name }} photo" />
                        </picture>
                      {% else %}
                      <picture>
                          <source srcset="{% static 'images/giftcard_thumbnail.webp' %}" type="image/webp">
                          <source srcset="{% static 'images/giftcard_thumbnail.png' %}" type="image/png">
                          <img src="{% static 'images/giftcard_thumbnail.png' %}" alt="Ajándékkártya" title="Ajándékkártya photo"/>
                        </picture>
                      {% endif %}
                  </div>
                  <div class="item-details-wrapper">
                    <span class="item-details-name">{{ value.quantity }}db {{ value.product_name }}</span>{% if value.collection %} <span class="item-details-collection-divider">- </span><span class="item-details-collection">{{ value.collection }}</span>{% endif %}
                    <span class="item-details-color">{% if value.color != '' %}{{ value.color|lower }}{% else %}&nbsp;{% endif %}</span>
                    <span class="item-details-stud">{{ value.stud }}</span>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="col-3 item-price"><span>{{ cart|calculate_item_price_with_discount:value }} Ft.-</span></div>
                <div class="col-1 item-remove">
                  <a href="{% url 'cart:cart_remove' item_id=key %}">
                    <span>
                      <img src="{% static 'images/remove_icon.png' %}" alt="Eltávolítás ikon" title="Eltávolítás ikon" />
                    </span>
                  </a>
                </div>
          </div>
          {% endfor %}
      </div>
    {% if cart.coupon %}
      <div class="row total-row coupon-in-cart-row">
          <div class="col-8 total"><span>"{{ cart.coupon.code }}" kupon ({{ cart.coupon.discount }}% kedvezmény)</span></div>
          <div class="col-3 total-price"><span>- {{ cart.get_discount|floatformat }} Ft.-</span></div>
      </div>
      <div class="row total-row">
          <div class="col-8 total"><span>Összesen:</span></div>
          <div class="col-3 total-price"><span>{{ cart.get_total_price_after_discount|floatformat }} Ft.-</span></div>
          <div class="col-1"></div>
      </div>
    {% else %}
    <div class="row total-row">
        <div class="col-8 total"><span>Összesen:</span></div>
        <div class="col-3 total-price"><span>{{ cart.get_total_price|floatformat }} Ft.-</span></div>
        <div class="col-1"></div>
    </div>
    {% endif %}
    {% if is_discount_enabled and cart|length <= 2 and not cart.coupon or not is_discount_enabled and cart|length > 0 and not cart.coupon %}
    <div class="row coupon-row">
      <form action="{% url 'coupon:apply' %}" method="post">
        <div class="col-8">
            <div class="coupon-form-wrapper">
                <span class="coupon-text">kuponkód:</span>
                {{ coupon_apply_form }}
            </div>
        </div>
        <div class="col-3">
            <input type="submit" value="BEVÁLTÁS" id="coupon-apply-button">
            {% csrf_token %}
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    {% endif %}
  </div>

<div class="container-md" id="delivery-options">
  <h1>számlázási adatok</h1>
  <form action="{% url 'order:order_create' %}" method="post" id="delivery-form">
      <div class="mandatory-fields-wrapper">
          <div class="form-group">
            <label for="full_name">Teljes név*</label>
            <input type="text" class="form-control" id="full_name" name="full_name" required>
          </div>
          <div class="form-group">
            <label for="phone_number">Telefonszám*</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" pattern="[+][0-9]{1,3}[0-9]{6,}" title="Az elfogadott formátum a következő: +36301231234" required>
          </div>
          <div class="form-group">
            <label for="email_address">E-mail cím*</label>
            <input type="email" class="form-control" id="email_address" name="email_address" required>
          </div>
          <div class="form-group">
            <label for="billing_address">Utca, házszám*</label>
            <input type="text" class="form-control" id="billing_address" name="billing_address" required>
          </div>
          <div class="form-group">
            <label for="billing_postal_code">Irányítószám*</label>
            <input type="text" class="form-control" id="billing_postal_code" name="billing_postal_code" required>
          </div>
          <div class="form-group">
            <label for="billing_city">Település*</label>
            <input type="text" class="form-control" id="billing_city" name="billing_city" required>
          </div>
          <div class="form-group t-area">
            <label for="product_note">Megjegyzés</label>
              <textarea class="form-control" id="product_note" name="product_note" maxlength="200"></textarea>
              <span id='remainingC'>200/200</span>
          </div>
          <div class="clearfix"></div>
      </div>
      {% if is_product_in_cart %}
      <h1>szállítási információk</h1>
      <div id="accordion">
          {% if is_szemelyes_atvetel_enabled %}
        <div class="card">
          <div class="card-header" id="personal">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                <img src="{% static 'images/personal.png' %}" alt="Személyes átvétel" title="Személyes átvétel" />
                <span>Személyes átvétel</span>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="personal" data-parent="#accordion">
            <div class="card-body">
              <div class="personal-left-wrapper">
                <div class="form-group">
                  <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Vezetéknév">
                </div>
                <div class="personal-data-text">
                  <span>Átvételi cím</span>
                  <span>1119 Budapest</span>
                  <span>Bornemissza tér</span>
                </div>
              </div>
              <div class="personal-right-wrapper">
                <div class="form-group">
                  <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Keresztnév" >
                </div>
                <div class="personal-data-text">
                  <span>Átvétel menete</span>
                  <span>A megrendelésed véglegesítése után e-mailben</span>
                  <span>egyeztetünk átvételi időpontot.</span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
          {% endif %}
          {% if is_csomagkuldo_enabled %}
        <div class="card">
          <div class="card-header" id="csomagkuldo">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                      aria-expanded="false" aria-controls="collapseFour" onClick="inlineFullHU()">
                <img src="{% static 'images/foxpost.png' %}" alt="csomagkuldo" title="csomagkuldo" />
                <span>Packeta csomagpont + <span id="csomagkuldo_price">{{ csomagkuldo_price }}</span> Ft</span>
              </button>
            </h5>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="personal" data-parent="#accordion">
            <div id="csomagkuldo-body" class="card-body"></div>
         </div>
        </div>
          {% endif %}
          {% if is_ajanlott_enabled and cart.cart|length <= ajanlott_cart_limit and is_delivery_size_ok %}
          <div class="card">
          <div class="card-header" id="envelope">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive"
                      aria-expanded="false" aria-controls="collapseFive">
                <img src="{% static 'images/ajanlott.png' %}" alt="Ajánlott" title="Ajánlott" />
                  <span>DOBOZ NÉLKÜL! Ajánlott levélként + <span id="envelope_price">{{ ajanlott_price }}</span> Ft</span>
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="envelope" data-parent="#accordion">
            <div class="card-body">
              <div class="form-group">
                <label for="envelope_full_name">Név*</label>
                <input type="text" class="form-control" id="envelope_full_name" name="envelope_full_name">
              </div>
              <div class="form-group">
                <label for="envelope_address">Utca, házszám*</label>
                <input type="text" class="form-control" id="envelope_address" name="envelope_address">
              </div>
              <div class="form-group">
                <label for="envelope_zip">Irányítószám*</label>
                <input type="text" class="form-control" id="envelope_zip" name="envelope_zip">
              </div>
              <div class="form-group">
                <label for="envelope_city">Település*</label>
                <input type="text" class="form-control" id="envelope_city" name="envelope_city">
              </div>
              <div class="clearfix"></div>
                <div class="form-group t-area">
                <label for="envelope_note">Egyéb Információk</label>
                <textarea class="form-control" id="envelope_note" name="envelope_note" maxlength="200"></textarea>
                <span id='remainingEC'>200/200</span>
              </div>
            </div>
          </div>
        </div>
          {% endif %}
          {% if is_foxpost_enabled %}
        <div class="card">
          <div class="card-header" id="foxt-post">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                <img src="{% static 'images/foxpost.png' %}" alt="Foxpost csomagautomata" title="Foxpost csomagautomata" />
                  <span>Foxpost csomagautomata + <span id="fox_price">{{ fox_price }}</span> Ft</span>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="foxt-post" data-parent="#accordion">
            <div class="card-body">
                <iframe frameborder="0" loading="lazy" src="https://cdn.foxpost.hu/apt-finder/v1/app/?discount=1" width="100%" height="600px"></iframe>
            </div>
          </div>
        </div>
          {% endif %}
          {% if is_delivery_enabled %}
        <div class="card">
          <div class="card-header" id="delivery">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                <img src="{% static 'images/delivery.png' %}" alt="Házhozszállítás" title="Házhozszállítás" />
                  <span>Házhozszállítás + <span id="delivery_price">{{ delivery_price }}</span> Ft</span>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="delivery" data-parent="#accordion">
            <div class="card-body">
              <div class="form-group">
                <label for="delivery_full_name">Név*</label>
                <input type="text" class="form-control" id="delivery_full_name" name="delivery_full_name">
              </div>
              <div class="form-group">
                <label for="d_address">Utca, házszám*</label>
                <input type="text" class="form-control" id="d_address" name="d_address">
              </div>
              <div class="form-group">
                <label for="d_zip">Irányítószám*</label>
                <input type="text" class="form-control" id="d_zip" name="d_zip">
              </div>
              <div class="form-group">
                <label for="d_city">Település*</label>
                <input type="text" class="form-control" id="d_city" name="d_city">
              </div>
              <div class="clearfix"></div>
              <div class="form-group t-area">
                <label for="d_note">Egyéb Információk</label>
                <textarea class="form-control" id="d_note" name="d_note" maxlength="200"></textarea>
                <span id='remainingDC'>200/200</span>
              </div>
            </div>
          </div>
        </div>
          {% endif %}
      </div>
      <input type="hidden" id="delivery_safe" {% if 'delivery' in session and session.delivery.delivery_type == 'FoxPost' %}value="fp;{{ session.delivery.fox_post }}" {% elif 'delivery' in session and session.delivery.delivery_type == 'Csomagkuldo' %}value="cs;{{ session.delivery.csomagkuldo }}" {% endif %} />
      <div id="payment-form">
          {{ delivery_form }}
          {% csrf_token %}
      </div>
      </form>
      {% endif %}

      <div id="end-total">
        <div class="end-total-wrapper">
            <div id="end-total-text">
              <p>Összesen fizetendő:</p>
            </div>
            <div id="end-total-amount">
              <p id="total_price" data-price="{{ cart|calculate_price:"calculated_total_price,False" }}">
                  {{ cart|calculate_price:"calculated_total_price,False" }} Ft</p>
            </div>
          <div class="clearfix"></div>
        </div>
      </div>

    <div id="payment-form-submit-button-wrapper">
        <input id="payment-form-submit-button" type="submit" value="ELLENŐRZÉS" form="delivery-form" />
    </div>

    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="empty-cart">
                    <p>Az ön kosara jelenleg üres!</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <button type="button" id="error_button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal">e</button>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Hiba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Értem</button>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}

{% include 'shop/footer.html' with cart_page=True %}
