{% include "shop/base.html" with notification=notification product_details=True notfound=False seo_title=product.seo_title seo_description=product.seo_description seo_keywords=product.seo_keywords %}
{% load static %}

{% block content %}
<div class="content product-detail">
    <div class="container-fluid">
        <div class="row detail-filter-row">
            <div id="detail-page-filter-button"></div>
            <div class="col-sm-3 detail-page-filter">
                <div id="mobile-filter-close"></div>
                {% include 'shop/product/filter.html' %}
            </div>
            <div class="col-sm-9">
                <div class="{% if types %}multi-product{% else %}single-product{% endif %} product-wrapper"
                     {% if not types %}data-stock="{{ product.stock }}"{% endif %}>
                    <div class="product-image-wrapper">
                        <div class="product-image">
                            <picture>
                              <source class="product_image" srcset="{{ product.image.url|wp }}" type="image/webp">
                              <img src="{{ product.image.url }}" alt="{% if product.seo_image_alt %}{{ product.seo_image_alt }}{% else %}{{ product.name }}{% endif %}"
                                   title="{{ product.name }} photo" class="product_image" width="625" height="625" style="aspect-ratio: 1;"/>
                            </picture>
                        </div>
                        <div class="product-thumbnails-wrapper">
                            <div class="product-thumbnail selected">
                                <picture>
                                  <source class="product_image" srcset="{{ product.image.url|wp }}" type="image/webp">
                                  <img src="{{ product.image.url }}" alt="{% if product.seo_image_alt %}{{ product.seo_image_alt }}{% else %}{{ product.name }}{% endif %}"
                                       title="{{ product.name }} thumbnail photo" class="product_image" width="625" height="625" style="aspect-ratio: 1;"/>
                                </picture>
                            </div>
                            {% if types %}
                                {% for type in types %}
                                    {% if type.image %}
                                    <div class="product-thumbnail">
                                        <picture>
                                          <source data-name="{{ type.color }}" srcset="{{ type.image.url|wp }}" type="image/webp">
                                          <img src="{{ type.image.url }}" alt="{% if type.seo_image_alt %}{{ type.seo_image_alt }}{% else %}{{ type.color }}{% endif %}"
                                               title="{{ product.name }} thumbnail photo" data-name="{{ type.color }}"  width="625" height="625" style="aspect-ratio: 1;"/>
                                        </picture>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for img in images %}
                                    <div class="product-thumbnail">
                                        <picture>
                                          <source data-name="{{ type.color }}" srcset="{{ img.image.url|wp }}" type="image/webp">
                                          <img src="{{ img.image.url }}" alt="{% if product.seo_image_alt %}{{ product.seo_image_alt }}{% else %}{{ product.name }}{% endif %}"
                                               title="{{ product.name }} thumbnail photo" width="625" height="625" style="aspect-ratio: 1;" />
                                        </picture>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="product-description-wrapper">
                        <div class="product-name">
                            <h1>{% if product.product_name %}{{ product.product_name }}{% else %}{{ product.name }}{% endif %}</h1>
                        </div>
                        <div class="product-collection-name">
                            {{ product.collection.name }}
                        </div>
                        <div class="product-price">
                            {{ product.price }} Ft.-
                        </div>
                        <div class="product-interactions">
                            {% if is_stock %}
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                <div class="minus"><span>-</span></div>
                              {{ cart_product_form }}
                                <div class="plus"><span>+</span></div>
                              {% csrf_token %}
                                <input id="add_to_cart_button" type="submit" value="Kosárba">
                                {% if not product.studs %}
                                <div class="form-check" id="product-detail-check">
                                  <input type="checkbox" class="form-check-input" id="timeframe-check" required>
                                  <label class="form-check-label" for="timeframe-check">
                                      Megértettem, hogy hűtőmágnesek esetén az elkészülési idő 2-3 nap.
                                  </label>
                                </div>
                                {% endif %}
                            </form>
                            {% else %}
                                <div id="out_of_stock_button"><span>Elfogyott</span></div>
                            {% endif %}
                        </div>
                        <div class="product-attributes">
                            {% if is_stock %}
                                <div class="product-attributes-color">
                                    {% if types %}
                                    <p>Szín:</p>
                                    <select required>
                                        <option value="" selected disabled>Válassz színt</option>
                                        {% for type in types %}
                                        {% if type.image %}
                                        <option value="{{ type.color }}" data-stock="{{ type.stock }}"
                                                data-img-src="{{ type.image.url }}"
                                                {% if type.stock == 0%}disabled{% endif %}>{{ type.color }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            <div class="product-attributes-studs">
                                {% for stud in product.studs %}
                                <div>
                                    <label class="studs-container"><span class="label-text">{{ product|get_stud:stud }}</span>
                                    <input type="radio" {% if forloop.counter == 1 %}checked="checked"{% endif %}
                                           name="stud" value="{{ product|get_stud:stud }}" >
                                        <span class="checkmark"></span>
                                    </label>
                                    <picture class="stud-info">
                                      <source srcset="{% static 'images/info_icon.webp' %}" type="image/webp">
                                      <img src="{% static 'images/info_icon.jpg' %}"
                                           title="
                                           {% if stud == '1' %}
                                             {{ nemes_acel }}
                                           {% elif stud == '2' %}
                                             {{ nikkel_mentes }}
                                           {% else %}
                                             {{ muanyag }}
                                           {% endif %}" alt="info icon" width="15" height="15" style="aspect-ratio:15/15;"/>
                                    </picture>
                                    <div class="clearfix"></div>
                                </div>

                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-description">
                            <p>{{ product.description|linebreaksbr }}</p>
                            <br />
                            <p>{{ product.size|linebreaksbr }}</p>
                        </div>
                        <div id="color-info">
                            <p>Ez a termék bármilyen más, általad választott színben is rendelhető. Ehhez vedd fel velem a kapcsolatot <a href="{% url 'shop:contact' %}" title="Kapcsolat" >itt.</a></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="back-to-link">
                    <a href="{{ referer }}" title="Vissza a kollekcióhoz" alt="Vissza a kollekcióhoz">
                        <img src="{% static 'images/arrow_left_150.png' %}" alt="Vissza a kollekcióhoz" title="Vissza a kollekcióhoz" width="50" height="33" style="aspect-ratio: 50/33;"/>
                        <span>VISSZA A KOLLEKCIÓHOZ</span>
                    </a>
                </div>
            </div>
        </div>
        <button type="button" id="error_button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal">e</button>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Hiba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Értem</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% include 'shop/footer.html' with product_details=True %}