{% include "shop/base.html" with notification=notification product_list=True notfound=False seo_title=collection.seo_title seo_description=collection.seo_description device=device follow=True %}
{% load static %}

{% block content %}
<div class="content product-list">
    <div class="container-fluid">
        <div class="row list-filter-row">
            <div id="detail-page-filter-button"></div>
            <div class="col-sm-3 list-page-filter">
                <div id="mobile-filter-close"></div>
                {% include 'shop/product/filter.html' %}
            </div>
            <div class="col-sm-9">
                <div id="products-wrapper">
                    {% if products %}
                        {% for product in products %}
                        <div class="{% if not product_stock.items|is_stock:product.id %}out-of-stock{% endif %} product-element">
                            <div class="product-element-image-wrapper">
                                {% if product.image %}
                                <a href="{% url product_view id=product.collection.slug slug=product.slug %}" title="Termék oldal">
                                    <picture>
                                      <source class="product-element-image" srcset="{{ product.image.url|wp }}" type="image/webp">
                                      <source class="product-element-image" srcset="{{ product.image.url }}" type="image/png">
                                      <img src="{{ product.image.url }}" alt="{% if product.seo_image_alt %}{{ product.seo_image_alt }}{% else %}{{ product.name }}{% endif %}" title="{{ product.name }} photo"
                                         class="product-element-image" width="625" height="625" style="aspect-ratio: 1;"/>
                                    </picture>
                                    {% endif %}
                                    <picture>
                                      <source class="sold-out-icon" srcset="{% static 'images/sold_out_150.webp' %}" type="image/webp">
                                      <source class="sold-out-icon" srcset="{% static 'images/sold_out_150.png' %}" type="image/png">
                                      <img src="{% static 'images/sold_out_150.png' %}" alt="Elfogyott" title="Elfogyott"
                                         class="sold-out-icon" width="204" height="206" style="aspect-ratio: 204/206;"/>
                                    </picture>

                                </a>
                            </div>
                            <div class="product-element-description-wrapper">
                                <a href="{% url 'shop:product_detail' id=product.collection.slug slug=product.slug %}" title="Termék oldal">
                                    <span class="product-element-name">{{ product.name }} | {{ product.price }} Ft.-</span>
                                </a>
                                <span class="product-element-collection">{{ product.collection.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div id="no-result-wrapper">
                        <p>A "{{ keyword }}" kulcsszóra nincs találat!<p>
                    </div>
                    {% endif %}

                    <div class="clearfix"></div>

                    {% if page_obj.paginator.num_pages > 1 %}

                    {% include 'shop/_pagination.html' with page_obj=page_obj %}

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                {% if gift_card %}
                        <div class="gift-card-wrapper">
                            <div class="gift-card-image-wrapper">
                                <img src="{% static 'images/giftcard.png' %}" alt="Ajándékkártya" title="Ajándékkártya" />
                            </div>
                            <div class="gift-card-description-wrapper">
                                <div class="gift-card-name">Ajándékkártya</div>
                                <div class="gift-card-price">5000 Ft.-</div>
                                <form action="{% url 'cart:cart_add_gift_card' 0 %}" method="post">
                                    <div class="gift-card-amount">
                                        <select required>
                                            {% for gc in gift_card %}
                                                <option value="{{ gc.price }}" data-id="{{ gc.id }}"
                                                        data-price="{{ gc.price }}">{{ gc.price }} Ft.-</option>
                                            {% endfor %}
                                            {{ card_gift_cart_product_form }}
                                            {% csrf_token %}
                                        </select>
                                    </div>
                                    <div class="gift-card-button-wrapper">
                                        <input id="add_to_cart_button" type="submit" value="Kosárba">
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% endif %}
                <div class="col-2"></div>
            </div>
    </div>
</div>
{% endblock %}

{% include 'shop/footer.html' with product_list=True %}