@media only screen and (max-width: 2560px) {
    .coupon-notification p {
        text-align: justify;
        margin-top: 1rem;
        font-size: 20px;
        font-family: bold;
        color: red;
    }
    #error_button {
        display: none;
    }
    .empty-cart {
        text-align: center;
        margin: 10px 0 50px;
    }
    .empty-cart p {
        font-family: light;
        letter-spacing: 2px;
        font-size: 20px;
        color: #758689;
    }
    #cart-header {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #cart-header h1 {
        color: #d6ac23;
        font-family: bold;
        letter-spacing: 8px;
        font-size: 32px;
        margin-bottom: 20px;
        -webkit-transform: scale(1, 1.1);
        -moz-transform: scale(1, 1.1);
        -ms-transform: scale(1, 1.1);
        -o-transform: scale(1, 1.1);
        transform: scale(1.1);
        text-align: center;
    }
    .item-index {
        font-size: 35px;
        font-family: "Times New Roman";
        color: rgba(29, 29, 27, 0.8);
        border-left: 1px solid #758689;
        border-bottom: 1px solid #758689;
        border-top: 1px solid #758689;
        text-align: center;
    }
    .row:nth-child(2n) .item-index {
        border-top: none;
    }
    .item-index span {
        height: 144px;
        line-height: 144px;
    }
    .item-details-image-wrapper img {
        width: 120px;
        height: 120px;
    }
    .item-details-image-wrapper {
        width: 120px;
        float: left;
        height: 144px;
        line-height: 144px;
    }
    .item-details-wrapper {
        float: left;
        margin-left: 20px;
        margin-top: 15px;
    }
    .item-details-wrapper span.item-details-name {
        color: #758689;
        font-family: bold;
        font-size: 24px;
        letter-spacing: 2px;
        display: block;
    }
    .item-details-collection-divider {
        display: none;
    }
    .item-details-wrapper span.item-details-collection {
        color: rgba(117, 134, 137, 0.4);
        font-family: light;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .item-details-wrapper span.item-details-color,
    .item-details-wrapper span.item-details-stud {
        display: block;
        color: rgba(139, 139, 139, 0.8);
        font-family: light;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .item-details {
        border-left: 1px solid #758689;
        border-right: 1px solid #758689;
        border-top: 1px solid #758689;
        border-bottom: 1px solid #758689;
    }
    .row:nth-child(2n) .item-details {
        border-top: none;
    }
    .item-price {
        font-family: bold;
        font-size: 24px;
        color: #758689;
        letter-spacing: 2px;
        border-top: 1px solid #758689;
        border-bottom: 1px solid #758689;
        border-right: 1px solid #758689;
        text-align: center;
    }
    .row:nth-child(2n) .item-price {
        border-top: none;
    }
    .item-price span {
        height: 144px;
        line-height: 144px;
    }
    .item-remove {
        border-right: 1px solid #758689;
        border-top: 1px solid #758689;
        border-bottom: 1px solid #758689;
        text-align: center;
    }
    .gift-card-remove {
        border-right: 1px solid #758689;
        border-bottom: 1px solid #758689;
        text-align: center;
    }
    .row:nth-child(2n) .item-remove {
        border-top: none;
    }
    .item-remove span {
        height: 144px;
        line-height: 144px;
    }
    .gift-card-remove span {
        height: 72px;
        line-height: 72px;
    }
    .item-remove a, .gift-card-remove a {
        color: rgba(117, 134, 137, 0.4);
        font-size: 20px;
        cursor: pointer;
    }
    .item-remove a:hover, .gift-card-remove a:hover {
        text-decoration: none;
    }
    .item-remove img, .gift-card-remove img {
        width: 28px;
        opacity: 0.4;
    }
    .item-remove img:hover .gift-card-remove img:hover {
        opacity: 1;
    }
    .cart-item-row {
        height: 144px;
    }
    .total-row {
        height: 72px;
    }
    .total-row .total {
        font-family: bold;
        font-size: 24px;
        color: #758689;
        letter-spacing: 2px;
        border-left: 1px solid #758689;
        border-bottom: 1px solid #758689;
        border-right: 1px solid #758689;
        text-align: right;
    }
    .total-row .total span,
    .total-row .total-price span {
        height: 72px;
        line-height: 72px;
    }
    .total-row .total-price {
        font-family: bold;
        font-size: 24px;
        color: #758689;
        letter-spacing: 2px;
        border-right: 1px solid #758689;
        border-bottom: 1px solid #758689;
        text-align: center;
        width: calc(100% + 1px);
    }
    label[for="id_code"],
    label[for="id_unique_uuid"] {
        display: none;
    }
    .coupon-text {
        font-family: bold;
        color: rgba(214, 172, 35, 0.8);
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    #id_code,
    #id_unique_uuid {
        height: 65px;
        width: 360px;
        border: 1px solid #758689;
        font-size: 30px;
        font-family: light;
        color: rgba(117, 134, 137, 0.4);
        letter-spacing: 2px;
        padding-left: 15px;
    }
    #coupon-apply-button,
    #giftcard-apply-button {
        background: rgba(214, 172, 35, 0.8);
        font-family: bold;
        font-size: 18px;
        color: #fff;
        letter-spacing: 4px;
        border: none;
        border-radius: 6px;
        width: 250px;
        height: 65px;
    }
    .coupon-row form,
    .gift-card-row form {
        width: 100%;
    }
    .coupon-row,
    .gift-card-row {
        margin-top: 50px;
    }
    .coupon-row .col-3,
    .coupon-row .col-8,
    .gift-card-row .col-3,
    .gift-card-row .col-8 {
        float: left;
    }
    .coupon-form-wrapper {
        text-align: right;
    }
    #delivery-options h1 {
        color: #758689;
        font-family: bold;
        font-size: 28px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
        margin: 50px 0;
    }
    .mandatory-fields-wrapper .form-group:nth-child(2),
    .mandatory-fields-wrapper .form-group:nth-child(3) {
        width: 50%;
        float: left;
    }
    .mandatory-fields-wrapper .form-group:nth-child(1) input {
        width: 100%;
    }
    .mandatory-fields-wrapper .form-group:nth-child(2) input,
    .mandatory-fields-wrapper .form-group:nth-child(3) input {
        width: 95%;
    }
    .mandatory-fields-wrapper .form-group input {
        height: 75px;
        color: rgba(117, 134, 137, 0.3);
        font-family: light;
        font-size: 30px;
        border: 1px solid rgba(117, 134, 137, 0.5);
        border-radius: 6px;
    }
    .mandatory-fields-wrapper .form-group:nth-child(3) input,
    .mandatory-fields-wrapper .form-group:nth-child(3) label {
        margin-left: 5%;
    }
    #delivery-options .form-group label {
        font-family: light;
        color: #878787;
        font-size: 24px;
        letter-spacing: 2px;
    }
    .card-header h5 img {
        width: 50px;
        height: 50px;
    }
    .card-header h5 button {
        color: #758689;
        font-family: bold;
        font-size: 24px;
        letter-spacing: 1px;
    }
    .card-header h5 button:hover {
        text-decoration: none;
        color: #758689;
    }
    .btn.focus,
    .btn:focus {
        box-shadow: none !important;
        text-decoration: none !important;
    }
    .form-control:focus {
        color: rgba(117, 134, 137, 0.3) !important;
        border-color: rgba(117, 134, 137, 0.5) !important;
        outline: 0;
        box-shadow: none !important;
    }
    .personal-left-wrapper,
    .personal-right-wrapper {
        width: 50%;
        float: left;
    }
    .personal-left-wrapper input,
    .personal-right-wrapper input {
        height: 75px;
        width: 90%;
        color: rgba(117, 134, 137, 0.3);
        font-family: light;
        font-size: 30px;
        border: 1px solid rgba(117, 134, 137, 0.5);
        border-radius: 6px;
    }
    .personal-left-wrapper .form-group,
    .personal-left-wrapper .personal-data-text {
        margin-left: 5%;
    }
    .personal-data-text span {
        display: block;
    }
    .personal-data-text span:nth-child(1) {
        font-family: bold;
        font-size: 20px;
        color: #758689;
        letter-spacing: 1px;
    }
    .personal-data-text span:nth-child(2),
    .personal-data-text span:nth-child(3) {
        font-family: light;
        font-size: 22px;
        color: #878787;
        letter-spacing: 1px;
    }
    .card-header {
        background-color: rgba(117, 134, 137, 0.1) !important;
        height: 75px;
        padding: 0 !important;
    }
    .card-header h5 {
        height: 75px;
        line-height: 75px;
    }
    #delivery-options input::-webkit-input-placeholder {
        color: rgba(117, 134, 137, 0.3);
    }
    #delivery-options input:-moz-placeholder {
        color: rgba(117, 134, 137, 0.3);
        opacity: 1;
    }
    #delivery-options input::-moz-placeholder {
        color: rgba(117, 134, 137, 0.3);
        opacity: 1;
    }
    #delivery-options input:-ms-input-placeholder {
        color: rgba(117, 134, 137, 0.3);
    }
    #delivery-options input::-ms-input-placeholder {
        color: rgba(117, 134, 137, 0.3);
    }
    #delivery-options input::placeholder {
        color: rgba(117, 134, 137, 0.3);
    }
    #collapseFive .form-group input,
    #collapseThree .form-group input {
        height: 75px;
        color: rgba(117, 134, 137, 0.3);
        font-family: light;
        font-size: 30px;
        border: 1px solid rgba(117, 134, 137, 0.5);
        border-radius: 6px;
    }
    #collapseFive .form-group:nth-child(3),
    #collapseThree .form-group:nth-child(3) {
        width: 30%;
        float: left;
    }
    #collapseFive .form-group:nth-child(4),
    #collapseThree .form-group:nth-child(4) {
        width: 65%;
        margin-left: 5%;
        float: left;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        font-family: bold;
        font-size: 24px;
        color: #758689;
        letter-spacing: 2px;
    }
    #end-subtotal-text p,
    #end-total-text p {
        float: right;
    }
    #end-subtotal-amount p,
    #end-total-amount p {
        float: right;
    }
    .end-total-wrapper {
        text-align: center;
    }
    .row.gift-card-row {
        margin-bottom: 50px;
    }
    #end-subtotal-text,
    #end-total-text {
        width: 30%;
        float: left;
        margin-left: 20%;
    }
    #end-subtotal-amount,
    #end-total-amount {
        width: 25%;
        float: left;
    }
    #payment-form-submit-button {
        background: rgba(214, 172, 35, 0.8);
        color: #fff;
        font-family: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 18px;
        border: 0;
        border-radius: 6px;
        width: 480px;
        height: 65px;
        position: relative;
    }
    #payment-form-submit-button-wrapper {
        margin-top: 50px;
        margin-bottom: 70px;
        text-align: center;
    }
    #delivery-options #end-total {
        margin-top: 40px;
    }
    #foxpost-modal-backdrop {
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }
    #modal-wrapper {
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.1s;
        align-items: center;
        display: flex;
        position: fixed;
        z-index: 1060;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.625em;
        overflow-x: hidden;
        background-color: transparent;
        -webkit-overflow-scrolling: touch;
    }
    #modal-body {
        display: flex;
        margin: auto;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 32em;
        max-width: 100%;
        padding: 1.25em;
        border: none;
        border-radius: 0.3125em;
        background: #fff;
        font-family: inherit;
        font-size: 1rem;
    }
    .modal-button-wrapper {
        text-align: center;
    }
    #modal-body p {
        font-family: light-italic;
        font-size: 18px;
        text-align: center;
    }
    .modal-button-wrapper button {
        background: rgba(214, 172, 35, 0.8);
        color: #fff;
        font-family: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 16px;
        border: 0;
        border-radius: 6px;
        width: 160px;
        height: 45px;
        position: relative;
    }
    .modal-body {
        -webkit-animation: swal2-show 0.3s;
        animation: swal2-show 0.3s;
    }
    .collapse-button {
        background: rgba(214, 172, 35, 0.8);
        font-family: bold;
        font-size: 18px;
        color: #fff;
        letter-spacing: 4px;
        border: none;
        border-radius: 6px;
        width: 250px;
        height: 65px;
    }
    #discount-wrapper {
        margin-top: 2%;
        text-align: center;
    }
    #discount-wrapper .card-body {
        border: none;
    }
}
@media only screen and (max-width: 1440px) {
    #delivery-options h1 {
        font-size: 26px;
        margin: 40px 0;
    }
    #payment-form-submit-button-wrapper {
        margin-top: 20px;
    }
    #cart-header h1 {
        letter-spacing: 7px;
        font-size: 28px;
    }
}
@media only screen and (max-width: 1366px) {
    #cart-header h1 {
        font-size: 24px;
    }
    #delivery-options h1 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 1024px) {
    .process-page #end-total-amount {
        width: 30%;
    }
}
@media only screen and (max-width: 992px) {
    #cart-header h1 {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
@media only screen and (max-width: 834px) {
    .process-page #end-total-text {
        width: 40%;
        margin-left: 10%;
    }
    #submit-gift-card,
    .process-page #submitBtn {
        letter-spacing: 3px;
        font-size: 16px;
        border-radius: 6px;
        width: 360px;
    }
    .total-row .total {
        font-size: 17px;
    }
    .item-details-collection-divider {
        display: none;
    }
    .item-details-image-wrapper {
        width: 20%;
    }
    .item-details-image-wrapper img {
        width: 100%;
        height: auto;
    }
    .item-details-wrapper {
        margin-left: 5%;
        width: 75%;
    }
    .item-details-wrapper span.item-details-name {
        display: block;
        font-size: 22px;
    }
    .item-details-wrapper span.item-details-collection {
        font-size: 14px;
        letter-spacing: 1px;
    }
    #coupon-apply-button,
    #giftcard-apply-button {
        font-size: 16px;
        height: 55px;
        line-height: 0;
        padding-top: 5px;
    }
    #payment-form-submit-button {
        height: 55px;
        line-height: 0;
        font-size: 16px;
        padding-top: 5px;
    }
    .item-details-wrapper span.item-details-color,
    .item-details-wrapper span.item-details-stud {
        font-size: 14px;
    }
    .item-details-wrapper span.item-details-stud {
        word-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        letter-spacing: 1px;
    }
    .coupon-row .col-3,
    .coupon-row .col-8 {
        width: 100% !important;
        max-width: 100% !important;
        float: initial !important;
    }
    .coupon-form-wrapper {
        text-align: center;
    }
    .coupon-text {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .coupon-row .col-3 {
        text-align: center;
        margin-top: 20px;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        font-size: 18px;
    }
    #delivery-options h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .card-header h5 button {
        font-size: 22px;
    }
    #end-subtotal-amount,
    #end-total-amount {
        width: 29%;
    }
    .process-page #end-total-text {
        width: 50%;
        margin-left: 0;
    }
    .process-page #end-total-amount {
        width: 50%;
    }
}
@media only screen and (max-width: 736px) {
    .process-page #end-total-text {
        width: 50%;
    }
    .personal-data-text span:nth-child(1) {
        font-size: 18px;
    }
    .personal-data-text span:nth-child(2),
    .personal-data-text span:nth-child(3) {
        font-size: 18px;
    }
    #end-subtotal-text,
    #end-total-text {
        width: 40%;
        margin-left: 10%;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        font-size: 20px;
    }
    #end-subtotal-amount,
    #end-total-amount {
        width: 31%;
    }
    .cart-item-row {
        height: auto;
    }
}
@media only screen and (max-width: 667px) {
    .total-row .total {
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 568px) {
    .check-form-key,
    .check-form-value {
        font-size: 16px;
    }
    .total-row .total {
        font-size: 14px;
        letter-spacing: 0;
    }
    #payment-form-submit-button {
        font-size: 16px;
        width: 410px;
    }
    #end-subtotal-text,
    #end-total-text {
        width: 50%;
        margin-left: 5%;
    }
    .personal-left-wrapper,
    .personal-right-wrapper {
        width: 100%;
        float: initial;
    }
    .personal-left-wrapper .form-group,
    .personal-left-wrapper .personal-data-text {
        margin-left: 0;
    }
    .personal-left-wrapper {
        margin-bottom: 20px;
    }
    .item-details-image-wrapper {
        display: none;
    }
    .item-price {
        font-size: 16px;
    }
    .item-remove img {
        width: 19px;
    }
    .total-row .total-price {
        font-size: 18px;
    }
    #coupon-apply-button,
    #giftcard-apply-button {
        font-size: 16px;
    }
    .item-index,
    .item-price,
    .total-price {
        padding: 0 !important;
    }
    #collapseFive .form-group:nth-child(3),
    #collapseThree .form-group:nth-child(3) {
        width: 100%;
        float: initial;
    }
    #collapseFive .form-group:nth-child(4),
    #collapseThree .form-group:nth-child(4) {
        width: 100%;
        margin-left: 0;
        float: initial;
    }
    #end-subtotal-text,
    #end-total-text {
        width: 60%;
        margin-left: 2%;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        font-size: 18px;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        font-size: 16px;
    }
    #end-subtotal-amount,
    #end-total-amount {
        width: 27%;
    }
    #payment-form-submit-button {
        font-size: 14px;
        width: 300px;
    }
    .card-header h5 img {
        width: 40px;
        height: 40px;
    }
    .personal-left-wrapper input,
    .personal-right-wrapper input {
        width: 100%;
    }
    .process-page #end-total-amount {
        width: 40%;
    }
    .item-details-wrapper {
        width: 100%;
    }
    .item-details-wrapper span.item-details-name {
        font-size: 18px;
        letter-spacing: 0;
    }
    .item-index {
        font-size: 20px;
    }
    #collapseFive .form-group input,
    #collapseThree .form-group input,
    .mandatory-fields-wrapper .form-group input,
    .personal-left-wrapper input,
    .personal-right-wrapper input {
        height: 65px;
        font-size: 24px;
    }
    #delivery-options .form-group label {
        font-size: 22px;
    }
    #coupon-apply-button,
    #giftcard-apply-button,
    #payment-form-submit-button {
        height: 50px;
        padding-top: 0;
    }
    #id_code,
    #id_unique_uuid {
        height: 50px;
        font-size: 24px;
    }
    .total-row .total-price {
        letter-spacing: 0;
    }
    .card-header h5 button {
        font-size: 16px;
    }
}
@media only screen and (max-width: 414px) {
    .card-header h5 button {
        text-align: left;
        width: 100%;
        height: 75px;
        display: table;
        padding: 0;
        font-size: 14px;
        letter-spacing: 0;
    }
    .card-header h5 img {
        float: left;
        margin: 1rem 0.75rem;
    }
    h5 button span {
        line-height: 75px;
    }
    #payment-form-submit-button {
        height: 55px;
        width: 340px;
    }
    .item-details-wrapper {
        margin-left: 0;
    }
    .item-details-wrapper span.item-details-collection {
        letter-spacing: 0;
    }
    .item-details-wrapper span.item-details-color,
    .item-details-wrapper span.item-details-stud {
        letter-spacing: 0;
    }
    .item-price {
        font-size: 14px;
    }
    .item-remove {
        padding: 0 !important;
    }
    .item-remove img {
        width: 14px;
    }
    .total-row .total {
        font-size: 14px;
        letter-spacing: 0;
        padding: 0 5px;
        text-align: left;
    }
    .total span {
        line-height: 76px;
    }
    .total-row .total-price {
        height: 76px;
    }
    .total-row .total-price span {
        height: 76px;
        line-height: 76px;
    }
    .total-row .total span {
        height: 36px;
        line-height: 36px;
    }
    .container-md .total-row:not(.coupon-in-cart-row) .total span {
        height: 72px;
        line-height: 72px;
    }
    .total-row .total-price {
        font-size: 14px;
    }
    .mandatory-fields-wrapper .form-group:nth-child(2),
    .mandatory-fields-wrapper .form-group:nth-child(3) {
        width: 100%;
        float: initial;
    }
    #delivery-form h1 {
        margin-top: 40px;
    }
    .mandatory-fields-wrapper .form-group:nth-child(2) input,
    .mandatory-fields-wrapper .form-group:nth-child(3) input {
        width: 100%;
    }
    .mandatory-fields-wrapper .form-group:nth-child(3) input,
    .mandatory-fields-wrapper .form-group:nth-child(3) label {
        margin-left: 0;
    }
    .personal-data-text span:nth-child(2),
    .personal-data-text span:nth-child(3) {
        font-size: 16px;
    }
    #id_code,
    #id_unique_uuid {
        width: 100%;
        padding: 0;
    }
    #coupon-apply-button,
    #giftcard-apply-button {
        letter-spacing: 2px;
        width: 100%;
    }
    .process-page #end-total-text {
        width: 60%;
    }
    .process-page #end-total-amount {
        width: 35%;
    }
    #submit-gift-card,
    .process-page #submitBtn {
        letter-spacing: 2px;
        font-size: 16px;
        border-radius: 6px;
        width: 280px;
    }
    .process-page #purchase-button-wrapper {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 375px) {
    .card-header h5 img {
        float: left;
        margin: 1.4rem 0.3rem;
        width: 30px;
        height: 30px;
    }
    .card-header h5 button {
        font-size: 14px;
    }
    .process-page #end-total-amount {
        width: 38%;
    }
    #id_code,
    #id_unique_uuid {
        width: 100%;
    }
    #payment-form-submit-button {
        width: 290px;
        letter-spacing: 3px;
    }
    .personal-data-text span:nth-child(2),
    .personal-data-text span:nth-child(3) {
        font-size: 14px;
        letter-spacing: 0;
    }
}
@media only screen and (max-width: 360px) {
    .card-header h5 img {
        display: none;
    }
    .card-header h5 button {
        text-align: center;
        font-size: 15px;
    }
    h5 button span {
        line-height: 0;
    }
    .item-details-wrapper {
        margin-top: 10px;
    }
    .process-page #end-total-text {
        width: 63%;
    }
    .process-page #end-total-amount {
        width: 37%;
    }
    #delivery-options h1 {
        font-size: 17px;
    }
    #end-subtotal-amount,
    #end-total-amount {
        width: 33%;
    }
    #main-logo img {
        width: 145px;
    }
    #submit-gift-card,
    .process-page #submitBtn {
        letter-spacing: 1px;
        font-size: 14px;
        height: 55px;
        width: 250px;
    }
}
@media only screen and (max-width: 320px) {
    .item-price {
        font-size: 12px;
    }
    .item-details-wrapper span.item-details-name {
        font-size: 20px;
    }
    .item-details-wrapper span.item-details-color,
    .item-details-wrapper span.item-details-stud {
        font-size: 12px;
    }
    .total-row .total-price {
        font-size: 12px;
    }
    #delivery-options h1 {
        letter-spacing: 2px;
    }
    #end-subtotal-amount p,
    #end-subtotal-text p,
    #end-total-amount p,
    #end-total-text p {
        letter-spacing: 1px;
    }
    .process-page #end-total-text {
        width: 65%;
    }
    .process-page #end-total-amount {
        width: 35%;
    }
}
