@font-face {
  font-family: california-sherif;
  src: url(../fonts/THECALIFORNIASERIF.OTF);
}

@font-face {
  font-family: california-script;
  src: url(../fonts/THECALIFORNIASCRIPT.OTF);
}

@font-face {
  font-family: medium-italic;
  src: url(../fonts/GILL_SANS_MEDIUM_ITALIC.OTF);
}

@font-face {
  font-family: medium;
  src: url(../fonts/GILL_SANS_MEDIUM.OTF);
}

@font-face {
  font-family: light-italic;
  src: url(../fonts/GILL_SANS_LIGHT_ITALIC.OTF);
}

@font-face {
  font-family: light;
  src: url(../fonts/GILL_SANS_LIGHT.OTF);
}

@font-face {
  font-family: italic;
  src: url(../fonts/GILL_SANS_ITALIC.OTF);
}

@font-face {
  font-family: heavy-italic;
  src: url(../fonts/GILL_SANS_HEAVY_ITALIC.OTF);
}

@font-face {
  font-family: heavy;
  src: url(../fonts/GILL_SANS_HEAVY.OTF);
}

@font-face {
  font-family: bold;
  src: url(../fonts/GILL_SANS_BOLD.OTF);
}

@font-face {
  font-family: bold-italic;
  src: url(../fonts/GILL_SANS_BOLD_ITALIC.OTF);
}

@font-face {
  font-family: gill;
  src: url(../fonts/GILL_SANS.OTF);
}

@font-face {
  font-family: anthery;
  src: url(../fonts/ANTHERY_COLLECTION.OTF);
}

@media only screen and (max-width: 2560px) {
    #faq-header {
        color: #D6AC23;
        font-family: bold;
        letter-spacing: 8px;
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
        -webkit-transform: scale(1, 1.1);
        -moz-transform: scale(1, 1.1);
        -ms-transform: scale(1, 1.1);
        -o-transform: scale(1, 1.1);
        transform: scale(1.1);
        text-align: center;
    }

    #faq-header h1 {
        font-size: 2rem;
    }

    .faq-page p, .faq-page ul li {
        font-family: light;
        font-size: 21px;
        letter-spacing: .055em;
        text-align: justify;
        margin-bottom: .5rem;
    }

    .faq-medium {
        font-family: medium;
        letter-spacing: .175em;
    }

    .faq-regular {
        font-family: gill;
        letter-spacing: .055em;
    }

    .faq-bold {
        font-family: bold;
        letter-spacing: .025em;
    }

    .faq-page ul {
        list-style: none;
        margin-left: 1.5em;
    }

    .faq-page .faq-top {
        margin-top: 20px;
    }

    .faq-page .faq-delivery {
        width: 50%;
        display: block;
        float: left;
    }

    .faq-page {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 834px) {
    .faq-page p, .faq-page ul li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 736px) {
    #faq-header h1 {
        font-size: 1.5rem;
    }

    .faq-page ul {
        margin-left: 1em;
        padding-left: 1.2em;
    }

    .faq-page .faq-delivery {
        width: 80%;
    }
}

@media only screen and (max-width: 414px) {
    .faq-page ul {
        padding-left: .4em;
    }
}

@media only screen and (max-width: 375px) {
    .faq-page p, .faq-page ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    #faq-header h1 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .faq-page .faq-delivery {
        width: 100%;
        float: initial;
        margin-bottom: 5px;
    }
}