@font-face {
  font-family: california-sherif;
  src: url(../fonts/THECALIFORNIASERIF.OTF);
}

@font-face {
  font-family: california-script;
  src: url(../fonts/THECALIFORNIASCRIPT.OTF);
}

@font-face {
  font-family: medium-italic;
  src: url(../fonts/GILL_SANS_MEDIUM_ITALIC.OTF);
}

@font-face {
  font-family: medium;
  src: url(../fonts/GILL_SANS_MEDIUM.OTF);
}

@font-face {
  font-family: light-italic;
  src: url(../fonts/GILL_SANS_LIGHT_ITALIC.OTF);
}

@font-face {
  font-family: light;
  src: url(../fonts/GILL_SANS_LIGHT.OTF);
}

@font-face {
  font-family: italic;
  src: url(../fonts/GILL_SANS_ITALIC.OTF);
}

@font-face {
  font-family: heavy-italic;
  src: url(../fonts/GILL_SANS_HEAVY_ITALIC.OTF);
}

@font-face {
  font-family: heavy;
  src: url(../fonts/GILL_SANS_HEAVY.OTF);
}

@font-face {
  font-family: bold;
  src: url(../fonts/GILL_SANS_BOLD.OTF);
}

@font-face {
  font-family: bold-italic;
  src: url(../fonts/GILL_SANS_BOLD_ITALIC.OTF);
}

@font-face {
  font-family: gill;
  src: url(../fonts/GILL_SANS.OTF);
}

@font-face {
  font-family: anthery;
  src: url(../fonts/ANTHERY_COLLECTION.OTF);
}

@media only screen and (max-width: 2560px) {
    /* Footer */
    #submark-logo-wrapper {
        text-align: center;
    }

    #submark-logo-wrapper img {
        width: 200px;
    }

    #social {
        margin-top: 30px;
    }

    #social img {
        width: 65px;
    }

    #social #facebook, #social #instagram {
        width: 50%;
        float: left;
    }

    #social #facebook img {
        float: right;
        margin-right: 10px;
    }

    #social #instagram img {
        margin-left: 10px;
    }

    footer .container-fluid {
        padding: 0;
    }

    footer .navigation-row {
        margin-top: 20px;
    }

    footer .row .col-sm-12 {
        padding: 0;
    }

    footer .navigation {
        margin-top: 30px;
    }

    footer .navigation .mainmenu {
        list-style: none;
        height: 50px;
        width: 80%;
        margin-left: 10%;
    }

    footer .navigation .menu-item {
        float: left;
        width: 10%;
        text-align: center;
    }

    footer .navigation .menu-item:nth-child(6) {
        margin-left: 2%;
        width: 20%;
    }

    footer .navigation .menu-item:nth-child(1) {
        margin-left: 15%;
    }

    footer .navigation a {
        color: #D3927C !important;
    }

    /* COOKIE */
	#cookie-consent {
        display: none;
        width:100%;
        height: 100%;
        position:static;
        bottom:0px;
        background-color: rgba(0,0,0,0.8);
        z-index: 100000;
    }

    .cookie-consent-inner {
        width:100%;
        padding: 20px;
        position:fixed;
        bottom:0px;
        background-color: #D6AC23;
        color: rgba(255,209,0,1);
    }

    .cookie {
        width: 80%;
        max-width: 100%;
        margin: 0 auto;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .cookie-msg {
        width: calc(100% - 120px);
        margin-right: 20px;
        float: left;
        color: #fff;
    }

    .cookie-accept {
        width: 100px;
        float: right;
    }

    .cookie-button {
        font-size: 16px;
        line-height: 40px;
        padding: 0px;
        color: #fff;
        width: 100px;
        background-color: rgba(214, 172, 35, .8);
        cursor: pointer;
        border: 1px solid white!important;
        -o-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
        text-align: center;
    }
    .cookie-button:hover {
        background-color: #758689;
    }
	/* END COOKIE */
}

@media only screen and (max-width: 1680px) {
    footer .navigation .mainmenu {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1600px) {
    footer .navigation .mainmenu {
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 1440px) {
    footer .navigation .menu-item:nth-child(6) {
        width: 21%;
    }
}

@media only screen and (max-width: 1366px) {
    footer .navigation-row {
        margin-top: 0px;
    }

    footer .navigation-row {
        margin-top: 20px;
    }

    footer .navigation {
        margin-top: 0;
        line-height: 80px;
        margin-bottom: 0;
    }

    footer .navigation .mainmenu {
        height: 80px;
        margin-bottom: 0px;
    }

    #social img {
        width: 55px;
    }

    #submark-logo-wrapper img {
        width: 180px;
    }
}

@media only screen and (max-width: 1112px) {
    #submark-logo-wrapper img {
        width: 160px;
    }
    .navigation .mainmenu li a, .navigation .mainmenu li a:hover {
        font-size: 16.7px;
    }
}

@media only screen and (max-width: 1024px) {
    footer .navigation .menu-item:nth-child(1) {
        margin-left: 0;
    }

    footer .navigation .menu-item:nth-child(6) {
        margin-left: 0%;
        width: 100%;
    }

    footer .navigation .menu-item {
        float: initial;
        width: 100%;
        text-align: center;
    }

    footer .navigation .mainmenu {
        height: auto;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding-left: 0;
    }

    footer .navigation {
        line-height: 40px;
    }
}

@media only screen and (max-width: 568px) {
    .cookie-msg {
        font-size: 14px;
    }

    .cookie {
        width: 100%;
    }
}