@font-face {
  font-family: california-sherif;
  src: url(../fonts/THECALIFORNIASERIF.OTF);
}

@font-face {
  font-family: california-script;
  src: url(../fonts/THECALIFORNIASCRIPT.OTF);
}

@font-face {
  font-family: medium-italic;
  src: url(../fonts/GILL_SANS_MEDIUM_ITALIC.OTF);
}

@font-face {
  font-family: medium;
  src: url(../fonts/GILL_SANS_MEDIUM.OTF);
}

@font-face {
  font-family: light-italic;
  src: url(../fonts/GILL_SANS_LIGHT_ITALIC.OTF);
}

@font-face {
  font-family: light;
  src: url(../fonts/GILL_SANS_LIGHT.OTF);
}

@font-face {
  font-family: italic;
  src: url(../fonts/GILL_SANS_ITALIC.OTF);
}

@font-face {
  font-family: heavy-italic;
  src: url(../fonts/GILL_SANS_HEAVY_ITALIC.OTF);
}

@font-face {
  font-family: heavy;
  src: url(../fonts/GILL_SANS_HEAVY.OTF);
}

@font-face {
  font-family: bold;
  src: url(../fonts/GILL_SANS_BOLD.OTF);
}

@font-face {
  font-family: bold-italic;
  src: url(../fonts/GILL_SANS_BOLD_ITALIC.OTF);
}

@font-face {
  font-family: gill;
  src: url(../fonts/GILL_SANS.OTF);
}

@font-face {
  font-family: anthery;
  src: url(../fonts/ANTHERY_COLLECTION.OTF);
}

@media only screen and (max-width: 2560px) {
    #payment-result-container .container-fluid, #payment-result-container .container-fluid .col-12 {
        margin: 0 !important;
        padding: 0 !important;
    }

    .success-wrapper {
        background: #FCEDE4;
        tex-align: center;
        height: 240px;
        margin-bottom: 40px;
    }

    .success-text {
        width: 70%;
        float: left;
        padding-top: 80px;
        padding-left: 40px;
    }

    .success-text p {
        font-family: light;
        font-size: 24px;
        color: #373636;
        letter-spacing: 1.8px;
    }

    .success-icon {
        width: 30%;
        float: left;
        height: 240px;
        line-height: 240px;
        text-align: right;
    }

    .success-icon img {
        width: 104px;
        height: 94px;
    }

    .process-page .info {
        font-family: light;
        font-size: 24px;
        color: #758689;
        letter-spacing: 2px;
        margin-top: 30px;
    }

    .check-form {
        margin: 20px 0 50px 0;
    }

    .check-form-key, .check-form-value {
        float: left;
        font-family: light;
        color: #758689;
        letter-spacing: 2px;
        font-size: 22px;
    }

    .check-form-key {
        width: 30%;
    }

    .check-form-value {
        width: 70%;
    }

    .check-form-value {
        font-family: bold;
    }

    .check-form-value p {
        float: right;
        text-align: justify;
    }
}

@media only screen and (max-width: 1280px) {
    .check-form-key, .check-form-value {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1112px) {
    .success-text {
        padding-top: 90px;
        padding-left: 30px;
    }

    .success-text p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .success-icon {
        width: 20%;
    }

    .check-form-key {
        width: 100%;
    }

    .check-form-key, .check-form-value {
        float: initial;
    }

    .check-form-value {
        width: 100%;
    }

    .check-form-value p {
        float: left;
    }
}

@media only screen and (max-width: 992px) {
    .success-text {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 568px) {
    .success-text {
        padding-top: 80px;
    }

    .success-text p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 414px) {
    .success-text {
        width: 60%;
        padding-top: 60px;
    }

    .success-text p {
        font-size: 14px;
    }

    .success-icon img {
        width: 84px;
        height: 74px;
    }

    .success-icon {
        width: 30%;
    }
}