{% include "shop/base.html" with notification=notification data=True %}
{% load static %}

{% block content %}
<div class="container">
    <div class="data-wrapper">
        <h2>ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK</h2>

<p>Tájékoztatjuk, hogy Ön, mint vásárló (fogyasztó) az WWW.MINERVASTUDIO.HU címen elérhető honlap használatával
        kinyilvánítja, hogy ismeri és elfogadja, az alábbi, a Ptk. (2013. évi V. törvény) 6:77-6:81.§ alapján
        megírt általános szerződési feltételeket. Kérjük, amennyiben vásárlója, illetve aktív használója kíván
        lenni a Webáruházunk által kínált lehetőségeknek, figyelmesen olvassa el az Általános Szerződési
        Feltételeinket és kizárólag abban az esetben vegye igénybe szolgáltatásainkat, amennyiben minden pontjával
        egyetért, és azokat kötelező érvényűnek tekinti magára nézve.</p>
<p>Jelen dokumentum, kizárólag elektronikus formában kerül megkötésre. Az alábbi feltételekkel szabályozott szerződés
    a Ptk. szerint távollevők között létrejött szerződésnek minősül.<p>

        <h3>Üzemeltetői adatok</h3>
    <p>cégnév: Berta Bettina e.v.</p>
<p>székhely: 6722 Szeged, Mars tér 17. 2/12.</p>
<p>adószám: 56628829-1-26</p>
<p>nyilvántartási szám: 55295718</p>
<p>elektronikus elérhetőség: info@minervastudio.hu</p>
<p>telefonos elérhetőség: +36 70 236 7315</p>
<p>számlaszám: 10300002-10512530-49010010</p>
<p>szerződés nyelve: magyar</p>
<p>A tárhelyszolgáltató elérhetőségei: ???</p>
<p>neve:</p>
<p>címe:</p>
<p>adószám:</p>
<p>A szolgáltatás ügyfélszolgálat elérhetőségei:</p>
<p>e-mail:</p>
<p>telefon:</p>
<p>A szolgáltató a jelen általános szerződési feltételekben a továbbiakban: üzemeltető.</p>
    <h3>Megvásárolható termékek, szolgáltatások köre</h3>
<p>A megvásárolható termékek a kiegészítők, ékszerek kategóriába tartoznak, azon belül is a süthető gyurmából készült ékszerekhez.</p>
<p>Figyelmeztetés: A termékek adatlapján megjelenített képeken látható színek a különböző monitor beállítások és minőségek miatt eltérhetnek a valóságostól.</p>
<h3>Rendelési információk</h3>
    <p>A megjelenített termékek kizárólag a Webáruházon keresztül, online rendelhetők meg, személyes átvétellel, csomagpontos vagy posta által történő házhoz szállítással.</p>
<p>A termékekre vonatkozóan megjelenített árak tartalmazzák az ÁFÁT, viszont a szállítási díjat nem!</p>
<p>Amennyiben az üzemeltető hibás árat tüntet fel a termék mellett, a tőle elvárható gondosság ellenére, és a
    termék ára annak általánosan elfogadott árától eltér, úgy az üzemeltető nem köteles a terméket a hibás áron
    szolgáltatni, de köteles a megrendelés visszaigazolásában felajánlani a vásárló részére a valós áron történő
    vásárlás lehetőségét. Amennyiben a vásárló ezzel a lehetőséggel nem kíván élni, úgy megilleti a szerződéstől
    való egyoldalú elállás joga.</p>
<p>Külön csomagolási költség nem kerül felszámításra.</p>
<p>A részletes szállítási díjszabás a jelen szerződési feltételek része, a ’GYIK’ menüpont alatt érhető el.</p>
<p>Webáruházunkban termékkategóriák szerint böngészhet a Megvásárolható termékek, szolgáltatások között. A felsorolt
    termékek mellett megtekintheti egy-egy termékek rövid leírását, árát, egyéb tulajdonságait, a teljesség igénye
    nélkül. Ha bővebb információt szeretne kapni a termékről, akkor kattintson a termék képére vagy nevére. Ekkor a
    termék oldalára jut el, ahol a termékről részletesebb tájékoztatást kaphat. Amennyiben ennél részletesebb
    tájékoztatásra van szüksége, úgy az üzemeltetői adatok között rögzített e-mail címen szíveskedjen felvenni
    a kapcsolatot az üzemeltetővel.</p>
    <h3>A rendelés menete:</h3>
<p>Az oldalon regisztráció nélküli vásárlásra van lehetőség. Vásárlási szándéka esetén a megvásárolni kívánt terméket
    a „Kosárba” gomb megnyomásával egy virtuális kosárba helyezi. A Kosár ikonjára kattintva megtalálja a vásárlás
    során kosárba helyezett termékeket, valamint a számla végösszegét és a szállítási módokat, költséget. Itt
    leellenőrizhetik rendelésük helyességét, különös tekintettel az árakra és a mennyiségekre, melyeken igény
    szerint módosíthatnak is. A kosár automatikusan kiszámítja a rendelés végösszegét.</p>
<p>Ha megfelelőnek tartja a kosárban elhelyezett termékek mennyiségét és leellenőrizte a végösszeget, majd úgy döntött,
    hogy meg szeretné vásárolni őket, akkor egyszerűen válassza ki az Önnek megfelelő szállítási módot
    (személyes átvétel, Csomagküldő pont, Foxpost automata, Postai házhozszállítás). Ha egyetért a megrendelés
    tartalmával, akkor a megrendelés elküldéséhez kattintson az „Ellenőrzés”, majd a „Fizetés” gombra.</p>
<p>Miután véglegesítette rendelését a megadott e-mail címére küldünk Önnek egy automatikus visszaigazolást,
    amely tartalmazza megrendelése adatait és később egyet a feladásról és a várható szállítási időpontról.
    Amennyiben nem kap ilyen visszaigazoló levelet a rendszer nem fogadta el megrendelését. Ilyen esetben kérjük,
    vegye fel velünk a kapcsolatot, a már jelzett módon, az üzemeltetői adatok segítségével. Ez általában pontatlan
    e-mail cím megadása miatt szokott előfordulni.</p>
<p>Bankkártyás fizetéskor átirányítjuk a Stripe fizetőfelületére.</p>
    <h3>A megrendelések feldolgozása:</h3>
<p>A megrendelések feldolgozását munkanapokon végezzük. A megrendelés feldolgozásaként megjelölt időpontokon kívül
    is van lehetőség a megrendelés leadására, de ha az a munkaidő lejárta után történik, csak az azt követő munkanapon
    kerül feldolgozásra a megrendelés.</p>
<p>Az elfogadott megrendelés teljesítési határideje, a visszaigazolástól számítva 3 munkanap. Cégünk nem vállal
    felelősséget a megrendelt termék esetleges technikai ismertetőinek a beszállító, vagy rajta kívül álló okok
    miatt történő előzetes bejelentés nélküli változása miatt.</p>
<p>A megrendelt termék ellenértékének és a házhoz szállítás díjának fizetésének módja</p>
<p>Bankkártyás fizetés: a Stripe rendszerén keresztül történik. Teljes mértékben DÍJMENTES! A megrendelés végén
    átirányítjuk a Stripe felületére, ahol egyből fizethet!</p>
    <h3>Házhoz szállítási információk</h3>
<p>Webáruházunk a küldemények kézbesítését a CSOMAGKÜLDŐ.HU és a FOXPOST segítségével végzi. A csomagok kézbesítése
    munkanapokon történik 8.00-17.00 óra között. Szállítási címként célszerű olyan címet megadni, ahol az adott napon
    a futárt folyamatosan fogadni tudják. Amennyiben a megrendelő nem elérhető, még kétszer megkíséreljük a
    kézbesítést. Ha ezután sem járunk sikerrel, a csomag visszakerül a feladóhoz.</p>
<p>Áruházunk működésével, megrendelési, és szállítási folyamatával kapcsolatosan felmerülő esetleges további kérdések
    esetén az üzemeltető adatai között megadott elérhetőségeinken rendelkezésére állunk.</p>
    <h3>Szállítási határidő</h3>
<p>A megrendelés visszaigazolásától számított 3 munkanap. Házhozszállítás esetén a Csomagküldő.hu a rendeléseket a
    feladás napjától számított 2 napon belül kézbesíti, átvevőhelyre 1 napon belül, illetve a Foxpost
    csomagautomatán keresztül is 1 napon belül.</p>
<p>A Csomagküldő esetén 7 munkanap áll rendelkezésre (ami meghosszabbítható) a csomag átvételére. A már kifizetett
    át nem vett csomagok újbóli kézbesítését, csak a szállítási díj ismételt kifizetése után teljesítjük. Ha a mi,
    a Foxpost vagy a Csomagküldő hibájából marad el a kézbesítés vagy a csomagfelvétel, akkor az újbóli kézbesítés
    díja nem a megrendelőt terheli! AZ ÁT NEM VETT MEGRENDELÉSEK AZ ÜZEMELTETŐNEK ANYAGI KÁRT OKOZNAK!</p>
    <h3>Kellékszavatosság</h3>
<p>A Vásárló hibás teljesítés esetén a Webáruházzal szemben kellékszavatossági igényt érvényesíthet.</p>
<p>A Vásárló köteles a hibát annak felfedezése után haladéktalanul közölni a Webáruház felé.</p>
<p>A Vásárlóval megkötött szerződés esetén új termék értékesítésekor a szerződés teljesítésétől számított két éves
    elévülési határidőn túl kellékszavatossági jog már nem érvényesíthető.</p>
<p>A Vásárló a szavatossági jogok érvényesítése körében – a választása szerint – kérhet kijavítást vagy kicserélést,
    kivéve, ha ezek teljesítése lehetetlen vagy a Webáruház számára más szavatossági igény teljesítéséhez képest
    aránytalan többletköltséggel járna. A Vásárló a választott kellékszavatossági jogáról egy másikra áttérhet,
    az áttérés költségét azonban viselni köteles, kivéve, ha az indokolt volt, vagy arra a Webáruház adott okot.</p>
    <h3>Termékszavatosság</h3>
<p>Az ékszerekre szavatossági igény nem érvényesíthető:</p>
- A nem rendeltetésszerű használatból eredő meghibásodásokra, sérülésekre
- A méret változtatásokra
- A termék anyagából adódó egészségügyi hatásokra (pl. fémallergia)
- A különféle vegyszerek (kozmetikumok, tisztítószerek, termálvíz stb.) által okozott károsodásokra, elszíneződésekre
- A használatból eredő kopásra illetve korrodálásra
- Ha a bevizsgálás során kiderül, hogy a hiba olyan okból keletkezett melyre a szavatossági igény nem érvényesíthető,
    a javítási költségről a megrendelőt értesítjük. Amennyiben a vásárló nem kéri a javítást, a terméket
    visszajuttatjuk.
    <h3>A szállítástól való elállás</h3>
<p>Ha a Webáruház a szerződésben vállalt kötelezettségét azért nem teljesíti, mert a szerződésben meghatározott
    áru nem áll rendelkezésére, illetve a megrendelt szolgáltatást nem áll módjában nyújtani, köteles erről a
    megrendelőt tájékoztatni. A Webáruház nem köt szerződést kiskorúakkal. A megrendelő a kereskedelmi feltételek
    elfogadásával nyilatkozik arról, hogy nagykorú.</p>
    <h3>A termék visszaküldése</h3>
<p>A terméket csak eredeti állapotában, hiánytalan mennyiségi és minőségi állapotában vesszük vissza.</p>
    <h3>Elállási jog</h3>
<p>A Vásárló a szerződéstől 14 naptári napon belül indokolás nélkül elállhat.</p>
<p>A Vásárló az elállás jogát attól a naptól kezdve gyakorolhatja, amikor az árut átvette.</p>
<p>A Vásárlót az elállási jog a szerződés megkötésének a napja és a termék átvételének napja közötti időszakban
    is megilleti. A termék átvételétől számított 14 napos határidő jogvesztő határidő.</p>
<p>Amennyiben a Vásárló élni kíván az elállási jogával, az elállási szándékát tartalmazó egyértelmű nyilatkozatát
    köteles eljuttatni (elektronikus úton küldött levél útján) a jelen dokumentum Panaszkezelés, egyéb
    jogérvényesítési lehetőségek pont alatt feltüntetett elérhetőségek igénybevételével a Webáruház részére
    az elállási időszak alatt. A Vásárló az elállási jogát gyakorolhatja:</p>
<p>(a) a 45/2014. (II. 26.) Korm. rend. 2. sz. melléklete szerinti nyilatkozat minta felhasználásával, kiegészítve
    a Vevő bankszámlaszámával vagy</p>
<p>(b) az elállásra irányuló egyértelmű nyilatkozat útján.</p>
<p>A jog gyakorlását határidőben érvényesítettnek kell tekinteni, amennyiben a Vásárló a nyilatkozatát az elállási
    időszak alatt (akár a 14. napon), avagy a szerződéskötés és a termék átvétele közötti időszakban megküldte a
    Webáruház részére. A Vásárlót terheli annak bizonyítása, hogy a jog gyakorlására ezen szabályok betartásával
    került sor.</p>
<p>Amennyiben a Vásárló a jelen ÁSZF-ben meghatározott módon eláll a szerződéstől, abban az esetben köteles az
    elállással érintett termék(ek)et haladéktalanul, de legkésőbb az elállás közlésétől számított 14 napon belül a
    Webáruház címére visszaküldeni A visszaküldés határidőben teljesítettnek minősül, amennyiben a Vásárló a terméket
    a határidő lejárta előtt megküldi. A termék visszaküldésének közvetlen költségét a Vásárló köteles viselni; a
    Webáruháznak az utánvéttel visszaküldött csomagot nem áll módjában átvenni. A termék visszaküldésének költségén
    kívül az elállás kapcsán a Vásárlót semmilyen más költség nem terheli.</p>
<p>Az értékesítő köteles a megrendelő által kifizetett összeget haladéktalanul, de legkésőbb az elállást követő
    14 napon belül visszatéríteni.</p>
<p>A megrendelő viseli az elállási jog gyakorlása miatt az áru visszaszolgáltatásával kapcsolatban felmerülő
    költségeket. A megrendelőt ezen felül egyéb költség nem terheli. Az értékesítő azonban követelheti az áru
    nem rendeltetésszerű használatából eredő kárának megtérítését. Ha az elállási jog alapján visszaszállított
    áru nincs kifogástalan, újra eladható állapotban, akkor a megrendelő kártérítésre kötelezett, amennyiben az
    áru állapotának romlását, tönkremenését, vagy visszaadásának másmilyen ellehetetlenülését szándékosan vagy
    hanyagságból idézte elő. A csomag cégünkhöz történő beérkezését követően, videó kamerával rögzítésre kerül a
    csomag kibontása, illetve a visszaküldött termék megvizsgálása. Erre az esetleges későbbiekben történő
    félreértések elkerülése végett van szükség. (például, hogy a visszaküldött termék sérült, vagy hiányos volt)</p>
<p>Amennyiben a termékről felbontás során a kézbesítést végző személy (postai kézbesítő, futár) jelenlétében derül ki,
    hogy bizonyítottan sérült, és a sérülés az áru átvételét megelőzően keletkezett, a termék visszavételét, az
    értékesítés törlését azonnal biztosítjuk. Bármilyen nemű sérülést, tartalomhiányt a küldemény kézbesítése során
    az átadó-átvevő közötti tényállási jegyzőkönyvnek kell tartalmaznia! Utólagos tartalomhiányért, esetleg sérülésért
    felelősséget vállalni nem tudunk!</p>
<p>Amennyiben a Vásárló eláll a szerződéstől, a Webáruház visszatéríti a Vásárló által ellenszolgáltatásként
    megfizetett teljes összeget, ideértve a teljesítéssel összefüggésben felmerült költségeket is.</p>
<p>Az elállás esetén a Webáruház a Vásárlónak visszajáró összeget banki átutalással fizeti vissza azzal, hogy a
    Webáruház mindaddig visszatarthatja a Vásárlónak visszajáró összeget, amíg a Vásárló a terméket vissza nem
    szolgáltatta, vagy kétséget kizáróan nem igazolta, hogy azt visszaküldte a Webáruház részére; a kettő közül
    a korábbi időpontot kell mérvadónak tekinteni.</p>
<p>A Webáruház a visszaküldött terméket jogosult bevizsgáltatni és a vételárat csak a bevizsgálást követően
    visszautalni a Vásárló részére, amennyiben a termékazonosság megállapításra került.</p>
<p>Bankkártyás fizetés esetén minden esetben a fizetéskor megadott bankszámlára, illetve az elállási nyilatkozatban
    megadott bankszámlaszámra kerül visszautalásra a Vásárlónak visszajáró pénzösszeg, készpénz visszafizetésére
    nincs lehetőség.</p>
<p>A Vásárló kizárólag a termék jellegének, tulajdonságainak és működésének megállapításához szükséges használatot
    meghaladó használatból eredő értékcsökkenésért felel.</p>
<p>A 45/2014. (II. 26.) Kormányrendelet alapján a Vásárló nem gyakorolhatja elállási jogát olyan nem előre gyártott
    termék esetében, amelyet a Vásárló utasítása alapján vagy kifejezett kérésére állítottak elő, vagy olyan termék
    esetében, amelyet egyértelműen a Vásárló személyére szabtak.</p>
<p>Ennek értelmében a Webáruház kínálatában nem szereplő, egyedi igény szerint, előre egyeztetett tervek alapján
    legyártott ékszerek  esetében az elállási jog nem gyakorolható. Ezeket a termékeket egyedi kérés és méret
    alapján gyártjuk a Vásárló rendelésére.</p>
    <h3>Panaszkezelés</h3>
<p>A termékkel vagy a Webáruház tevékenységével kapcsolatos kifogásokat a Vásárló írásban terjesztheti elő, az
    alábbi módok valamelyikén:</p>
<p>(a) a Webáruház postacímére (6722 Szeged, Mars tér 17.) küldött levélben,</p>
<p>(b) a Webáruház részére küldött e-mailben ( info@minervastudio.hu ).</p>
<p>A Webáruház a Vevő részéről érkező panaszokat kivizsgálja és 30 napon belül a panaszra érdemi választ küld a
    Vevő részére. A panasz elutasítása esetén a válaszban a Webáruház az elutasítás indokát is megjelöli.</p>
<p>A Webáruház tevékenységével összefüggő panasz esetén a Vásárló az alábbi hatóságokhoz fordulhat:</p>
<p>(a) Csongrád Megyei Békéltető Testülethez (székhely: 6721 Szeged, Párizsi krt. 8-12.; e-mail:
    bekelteto.testulet@csmkik.hu, telefonszám: +36 62/554-250; név: Dékány László, Jerney Zoltán) fogyasztói
    jogvita bírósági eljáráson kívüli rendezése esetén (A békéltető testület feladata, hogy megkísérelje a
    fogyasztói jogvita rendezése céljából egyezség létrehozását a felek között, ennek eredménytelensége esetén
    az ügyben döntést hoz a fogyasztói jogok egyszerű, gyors, hatékony és költségkímélő érvényesítésének biztosítása
    érdekében. A békéltető testület a fogyasztó vagy a vállalkozás kérésére tanácsot ad a fogyasztót megillető
    jogokkal és a fogyasztót terhelő kötelezettségekkel kapcsolatban.);</p>
<p>A Webáruházat együttműködési kötelezettség terheli a békéltető testület eljárásban.</p>
<p>A Webáruház köteles egyezség létrehozatalára feljogosított személy részvételét biztosítani a meghallgatásokon,
    valamint előzőleg érdemi válasziratot küldeni a békéltető testület számára.</p>
<p>Kivétel, ha a Webáruház nem a békéltető testület megyéjében (a Budapesti Békéltető Testület esetén pedig
    nem a fővárosban) van bejegyezve. Ez esetben elegendő a fogyasztói igényét illetően arról nyilatkozni
    előzetesen írásban, van-e egyezségi ajánlat, és ha van, akkor mire terjed ki.</p>
<p>(b) területileg illetékes önkormányzat jegyzőjéhez az üzlet nyitvatartási idejével, a kereskedelmi engedéllyel
    és a vásárlók könyvével kapcsolatos panaszok esetén;</p>
<p>(c) Budapest Főváros Kormányhivatala Kereskedelmi, Haditechnikai, Exportellenőrzési és Nemesfémhitelesítési
    Főosztályának Nemesfém Nyilvántartási, Ellenőrzési és Vizsgálati Osztályához (cím: 1089 Budapest, Bláthy Ottó
    utca 3.; telefonszám: +36-1/313-0020, email: nnyevo@bfkh.gov.hu) a nemesfémek kereskedelmi tevékenységével, a
    fémjelzéssel kapcsolatos rendelkezések és a pénzmosási előírások megsértése esetén;</p>
<p>(d) Gazdasági Versenyhivatalhoz (cím: 1054 Budapest, Alkotmány u. 5. telefon: +36-1/472-8851, e-mail:
    ugyfelszolgalat@gvh.hu, levelezési cím: 1391 Budapest, Pf. 62., Pf.: 211.) a Gazdasági Versenyhivatal
    hatáskörébe tartozó jogsértés esetén;</p>
<p>(e) területileg illetékes járási hivatalok fogyasztóvédelmi osztályához fogyasztóvédelmi tárgyú panaszok esetén;</p>
<p>(f) bírósághoz a szerződés létrejöttével, érvényességével, joghatásaival és megszűnésével, továbbá a
    szerződésszegéssel és annak joghatásaival kapcsolatos jogvita esetén.</p>
<p>(g) online vitarendezés kezdeményezése az alábbi linken elérhető http://www.ec.europa.eu/odr</p>
    <h3>Megrendelés módosítása, törlése</h3>
<p>A 2001. évi CVIII. törvény értelmében a megrendelés leadásakor a Vásárló felé azonnal értesítést küld az
    eladó webáruház szoftvere a rendelés felvételének tényéről. Ez az értesítés nem minősül az eladó és a vásárló
    között létrejött szerződésnek, csupán jelzi a vásárlónak, hogy rendelési igényét rendszerünk regisztrálta és
    továbbította az eladó illetékes munkatársa felé. Amennyiben a Vásárlóhoz ez 48 órán belül nem érkezik meg, akkor
    a vásárló ajánlattételi kötöttségei megszűnnek.</p>
<p>A megrendelés utólagos módosítására csak írásos formában e-mailben kerülhet sor az info@minervastudio.hu címen.</p>
    <h3>Adatkezelés</h3>
<p>Az üzemeltető a webáruház a használata során a rendelkezésére bocsátott személyes adatokat bizalmasan kezeli,
    és nem adja ki kívülálló harmadik személy számára, kivéve abban az esetben amennyiben alvállalkozója számára.
    (Pl: futárszolgálat), a megrendelés kézbesítéséhez ez szükséges.</p>
<p>A webáruház böngészése folyamán technikai információk kerülnek rögzítésre statisztikai célokból. (IP cím,
    látogatás időtartama, stb). Ezen adatokat az üzemeltető kizárólag jogilag hitelesen indokolt, és alátámasztott
    esetben adja át a hatóságok részére. A megrendelés folyamán rögzített adatokat az üzemeltető a megrendelés
    teljesítéséhez használja fel. Az egyes informatikai rendszerek által, a webáruház oldalain leadott megrendelésből
    készült számla adatai a rendelés leadása folyamán megadott adatokkal rögzítésre, és tárolásra kerülnek a hatályos
    számviteli törvényben meghatározott időszakra.</p>
<p>Adatai törlését, módosítását bármikor kérheti írásban. A megrendeléssel kezdődő eljárás során a 2011. évi CXII.
    törvény rendelkezései az irányadók, a szolgáltató adatvédelmi nyilatkozata a honlapon érhető el.</p>
    <h3>Akciók, kedvezmények</h3>
<p>A kedvezményeink, akcióink össze nem vonhatók. Viszont a megrendelő jogában áll a számára legkedvezőbbet
    kiválasztani.</p>
    <h3>Egyéb rendelkezések</h3>
<p>A jelen általános szerződési feltételekben nem szabályozott kérdésekben a Ptk (2013.évi V. törvény), fogyasztói
    szerződéseknél a távollevők között kötött szerződésekről szóló 45/2014. kormányrendelet rendelkezései az
    irányadók.</p>
    </div>
</div>

{% endblock %}

{% include 'shop/footer.html' with contact=True %}