{% load static %}
<!DOCTYPE html>
<html{% if cart_border %} id="cart"{% endif %} lang="hu">
  <head>
    <meta name="description" content="A Minerva Studio ékszerei kis darabszámban kézzel készült, egyedi termékek.
     A fülbevalók modernek, elegánsak, letisztultak.">
    <meta name="keywords" content="kézműves fülbevaló, kézzel készített fülbevaló, egyedi fülbevaló, fülbarát fülbevaló" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" sizes="192x192" href="{% url 'shop:get_icon' %}">
    <link rel="apple-touch-icon" href="{% url 'shop:get_icon' %}" />
    <title>Minerva Studio - modern, egyedi, könnyű fülbevalók | Kézműves fülbevalók</title>
    {% if CUSTOM %}
      <link href="{% static "css/base.css" %}" rel="stylesheet" />
      <link href="{% static "css/footer.css" %}" rel="stylesheet" />
    {% else %}
      <link href="{% static "css/base_without_custom.css" %}" rel="stylesheet" />
      <link href="{% static "css/footer_without_custom.css" %}" rel="stylesheet" />
    {% endif %}
    {% if payment %}
      <link href="{% static "css/payment.css" %}" rel="stylesheet" />
    {% endif %}
    {% if product_list %}
      <link href="{% static "css/product_list.css" %}" rel="stylesheet" />
    {% endif %}
    {% if product_details %}
      <link href="{% static "css/product_details.css" %}" rel="stylesheet" />
    {% endif %}
    {% if contact %}
      <link href="{% static "css/contact.css" %}" rel="stylesheet" />
    {% endif %}
    {% if data %}
      <link href="{% static "css/data.css" %}" rel="stylesheet" />
    {% endif %}
    {% if impresszum %}
      <link href="{% static "css/impresszum.css" %}" rel="stylesheet" />
    {% endif %}
    {% if cart_page %}
      <script src="https://widget.packeta.com/www/js/library.js"></script>
      <link href="{% static "css/cart.css" %}" rel="stylesheet" />
      <meta name="cs_a" content="{{ api_key }}">
    {% endif %}
    {% if faq %}
      <link href="{% static "css/faq.css" %}" rel="stylesheet" />
    {% endif %}
    {% block ga %}
        {% if use_ga %}
            {% include "shop/snippets/ga.html" with ga_tracking_id=ga_tracking_id%}
        {% endif %}
    {% endblock ga %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://unpkg.com/webp-hero@0.0.0-dev.21/dist-cjs/polyfills.js"></script>
    <script src="https://unpkg.com/webp-hero@0.0.0-dev.21/dist-cjs/webp-hero.bundle.js"></script>
    {% if index %}
      <link href="{% static "css/home.css" %}" rel="stylesheet" />
      <link href="{% static "css/home_page_carousel.css" %}" rel="stylesheet" />
      <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" />
    {% endif %}
    <script>
     var webpMachine = new webpHero.WebpMachine();
     webpMachine.polyfillDocument();
    </script>
  </head>
  <body>
    <header id="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="notification-wrapper">
              {% for n in notification %}
              <p class="notification">{{ n.text }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="main-logo">
              <a href="{% url 'shop:index' %}">
                <picture>
                  <source class="c_logo" srcset="{% static 'images/logo_150.webp' %}" type="image/webp">
                  <img class="c_logo" src="{% static 'images/logo_150.png' %}" alt="Minerva Studio Logo"
                       title="Minerva Studio Logo image" />
                </picture>
              </a>
            </div>
            <div class="tablet-menu">
              <div class="navigation">
                <ul class="mainmenu">
                  <li class="{% if request.path == '/' %}current{% endif %} menu-item">
                    <a title="Kezdőlap" href="{% url 'shop:index' %}" >Kezdőlap</a>
                  </li>
                  <li class="{% if '/termek' in request.path %}current{% endif %} menu-item">
                    <a title="Termékek" href="{% url 'shop:products_view' %}" >Termékek</a>
                  </li>
                  <li class="{% if '/gyik' in request.path %}current{% endif %} menu-item">
                    <a title="GYIK" href="{% url 'shop:faq' %}" >GYIK</a>
                  </li>
                  <li class="{% if '/kapcsolat' in request.path %}current{% endif %} menu-item">
                    <a title="Kapcsolat" href="{% url 'shop:contact' %}" >Kapcsolat</a>
                  </li>
                  {% if CUSTOM %}
                  <li class="{% if '/egyedi-rendelés' in request.path %}current{% endif %} menu-item">
                    <a title="Kapcsolat" href="{% url 'shop:custom_products_view' %}" >Egyedi rendelés</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div id="cart-icon-wrapper">
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                <a href="{% url 'cart:cart_detail' %}">
                    {% with total_items_plural=total_items|pluralize %}
                  <div class="item-in-cart-indicator"><span>{{ total_items }}</span></div>
                      <img class="c_logo" src="{% static 'images/cart_150.png' %}" alt="Minerva Studio Cart Icon" title="Minerva Studio Cart Icon"/>
                    {% endwith %}
                  </a>
                {% else %}
                  <div class="cart-icon-inner">
                    <img class="c_logo" src="{% static 'images/cart_150.png' %}" alt="Minerva Studio Cart Icon" title="Minerva Studio Cart Icon"/>
                  </div>
                {% endif %}
              {% endwith %}
            </div>
            <div id="mobile-menu-wrapper">
              <div id="menu-btn"></div>
            </div>
          </div>
          <div class="col-sm-12 mobile-menu">
            <div class="navigation">
              <div id="mobile-menu-close"></div>
              <ul class="mainmenu">
                <li class="{% if request.path == '/' %}current{% endif %} menu-item">
                  <a title="Kezdőlap" href="{% url 'shop:index' %}" >Kezdőlap</a>
                </li>
                <li class="{% if '/termek' in request.path %}current{% endif %} menu-item">
                  <a title="Termékek" href="{% url 'shop:products_view' %}" >Termékek</a>
                </li>
                <li class="{% if '/gyik' in request.path %}current{% endif %} menu-item">
                  <a title="GYIK" href="{% url 'shop:faq' %}" >GYIK</a>
                </li>
                <li class="{% if '/kapcsolat' in request.path %}current{% endif %} menu-item">
                  <a title="Kapcsolat" href="{% url 'shop:contact' %}" >Kapcsolat</a>
                </li>
                {% if CUSTOM %}
                <li class="{% if '/egyedi-rendelés' in request.path %}current{% endif %} menu-item">
                  <a title="Kapcsolat" href="{% url 'shop:custom_products_view' %}" >Egyedi rendelés</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="row desktop-menu">
          <div class="navigation">
            <ul class="mainmenu">
              <li class="{% if request.path == '/' %}current{% endif %} menu-item">
                <a title="Kezdőlap" href="{% url 'shop:index' %}" >Kezdőlap</a>
              </li>
              <li class="{% if '/termek' in request.path %}current{% endif %} menu-item">
                <a title="Termékek" href="{% url 'shop:products_view' %}" >Termékek</a>
              </li>
              <li class="{% if '/gyik' in request.path %}current{% endif %} menu-item">
                <a title="GYIK" href="{% url 'shop:faq' %}" >GYIK</a>
              </li>
              <li class="{% if '/kapcsolat' in request.path %}current{% endif %} menu-item">
                <a title="Kapcsolat" href="{% url 'shop:contact' %}" >Kapcsolat</a>
              </li>
              {% if CUSTOM %}
              <li class="{% if '/egyedi-rendelés' in request.path %}current{% endif %} menu-item">
                <a title="Kapcsolat" href="{% url 'shop:custom_products_view' %}" >Egyedi rendelés</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </header>
