{% include "shop/base.html" with notification=notification data=True notfound=False seo_title=seo_title seo_description=seo_description %}
{% load static %}

{% block content %}
<div class="container">
    <div class="data-wrapper">
        <h2>ADATKEZELÉSI TÁJÉKOZTATÓ</h2>
        <h3>Bevezetés</h3>
        <p>A/Az <strong>Kakuszi Bettina egyéni vállalkozó (6722 Szeged, Mars tér 17. 2/12; adószám: 56628829-1-26,
            nyilvántartási szám: 55295718)</strong> (továbbiakban Szolgáltató, Adatkezelő) alá veti magát a
            következő szabályzatnak.</p>
<p>A természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad
    áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet) AZ
    EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE (2016. április 27.) szerint az alábbi tájékoztatást adjuk.</p>
<p>Jelen adatvédelmi szabályzat az alábbi oldalak/mobil alkalmazások adatkezelését szabályozza:
    https://www.minervastudio.hu.</p>
        <p>Az adatvédelmi szabályzat elérhető az alábbi oldalról: https://minervastudio.hu/adatvedelem</p>
        <p>A szabályzat módosításai a fenti címen történő közzététellel lépnek hatályba.</p>
<h3>Az adatkezelő és elérhetőségei</h3>
<p>Név: Kakuszi Bettina egyéni vállalkozó</p>
<p>Székhely: 6722 Szeged, Mars tér 17. 2/12</p>
<p>E-mail: minervaearrings@gmail.com</p>
<p>Telefonszám: +36 70 236 7315</p>
<h3>Fogalom meghatározások</h3>
<p>1. „személyes adat”: azonosított vagy azonosítható természetes személyre („érintett”) vonatkozó bármely információ;
azonosítható az a természetes személy, aki közvetlen vagy közvetett módon, különösen valamely azonosító, például név,
szám, helymeghatározó adat, online azonosító vagy a természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági,
 kulturális vagy szociális azonosságára vonatkozó egy vagy több tényező alapján azonosítható;</p>
<p>2.  „adatkezelés”: a személyes adatokon vagy adatállományokon automatizált vagy nem automatizált módon végzett bármely
művelet vagy műveletek összessége, így a gyűjtés, rögzítés, rendszerezés, tagolás, tárolás, átalakítás vagy megváltoztatás,
 lekérdezés, betekintés, felhasználás, közlés továbbítás, terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján,
 összehangolás vagy összekapcsolás, korlátozás, törlés, illetve megsemmisítés;</p>
<p>3.  „adatkezelő”: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely
a személyes adatok kezelésének céljait és eszközeit önállóan vagy másokkal együtt meghatározza; ha az adatkezelés
céljait és eszközeit az uniós vagy a tagállami jog határozza meg, az adatkezelőt vagy az adatkezelő kijelölésére
vonatkozó különös szempontokat az uniós vagy a tagállami jog is meghatározhatja;</p>
<p>4.  „adatfeldolgozó”: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv,
 amely az adatkezelő nevében személyes adatokat kezel;</p>
<p>5.  „címzett”: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv,
akivel, vagy amellyel a személyes adatot közlik, függetlenül attól, hogy harmadik fél-e. Azon közhatalmi
szervek, amelyek egy egyedi vizsgálat keretében az uniós vagy a tagállami joggal összhangban férhetnek hozzá
 személyes adatokhoz, nem minősülnek címzettnek; az említett adatok e közhatalmi szervek általi kezelése meg kell,
 hogy feleljen az adatkezelés céljainak megfelelően az alkalmazandó adatvédelmi szabályoknak;</p>
<p>6.  „az érintett hozzájárulása”: az érintett akaratának önkéntes, konkrét és megfelelő tájékoztatáson alapuló
 és egyértelmű kinyilvánítása, amellyel az érintett nyilatkozat vagy a megerősítést félreérthetetlenül kifejező
 cselekedet útján jelzi, hogy beleegyezését adja az őt érintő személyes adatok kezeléséhez;</p>
<p>7.  „adatvédelmi incidens”: a biztonság olyan sérülése, amely a továbbított, tárolt vagy más módon kezelt
személyes adatok véletlen vagy jogellenes megsemmisítését, elvesztését, megváltoztatását, jogosulatlan közlését
 vagy az azokhoz való jogosulatlan hozzáférést eredményezi.</p>

<h3>A személyes adatok kezelésére vonatkozó elvek</h3>
<p>A személyes adatok:</p>
<ul>
<li>kezelését jogszerűen és tisztességesen, valamint az érintett számára átlátható módon kell végezni
(„jogszerűség, tisztességes eljárás és átláthatóság”);</li>
<li>gyűjtése csak meghatározott, egyértelmű és jogszerű célból történjen, és azokat ne kezeljék
ezekkel a célokkal össze nem egyeztethető módon; a 89. cikk (1) bekezdésének megfelelően nem minősül
 az eredeti céllal össze nem egyeztethetőnek a közérdekű archiválás céljából, tudományos és történelmi
 kutatási célból vagy statisztikai célból történő további adatkezelés („célhoz kötöttség”);</li>
<li>az adatkezelés céljai szempontjából megfelelőek és relevánsak kell, hogy legyenek, és a szükségesre
 kell korlátozódniuk („adattakarékosság”);</li>
<li>pontosnak és szükség esetén naprakésznek kell lenniük; minden észszerű intézkedést meg kell tenni
 annak érdekében, hogy az adatkezelés céljai szempontjából pontatlan személyes adatokat haladéktalanul
 töröljék vagy helyesbítsék („pontosság”);</li>
<li>tárolásának olyan formában kell történnie, amely az érintettek azonosítását csak a személyes adatok
 kezelése céljainak eléréséhez szükséges ideig teszi lehetővé; a személyes adatok ennél hosszabb ideig
 történő tárolására csak akkor kerülhet sor, amennyiben a személyes adatok kezelésére a 89. cikk (1)
 bekezdésének megfelelően közérdekű archiválás céljából, tudományos és történelmi kutatási célból vagy
 statisztikai célból kerül majd sor, az e rendeletben az érintettek jogainak és szabadságainak védelme
 érdekében előírt megfelelő technikai és szervezési intézkedések végrehajtására is figyelemmel
 („korlátozott tárolhatóság”);</li>
<li>kezelését oly módon kell végezni, hogy megfelelő technikai vagy szervezési intézkedések
alkalmazásával biztosítva legyen a személyes adatok megfelelő biztonsága, az adatok jogosulatlan
vagy jogellenes kezelésével, véletlen elvesztésével, megsemmisítésével vagy károsodásával szembeni
védelmet is ideértve („integritás és bizalmas jelleg”).</li></ul>
<p>Az adatkezelő felelős a fentiek megfelelésért, továbbá képesnek kell lennie e megfelelés igazolására („elszámoltathatóság”).</p>
<p>Az adatkezelő nyilatkozik, hogy adatkezelése a jelen pontban foglalt alapelveknek megfelelően történik.</p>
<p>A webáruház működtetéséhez kapcsolódó adatkezelés</p>
<p><strong>Az adatgyűjtés ténye, a kezelt adatok köre és az adatkezelés célja:</strong></p>
<table><thead><tr><th>Személyes adat</th><th>Az adatkezelés célja</th></tr></thead>
<tbody>
<tr>
<td>Felhasználói név</td>
<td>Azonosítás, a regisztráció lehetővé tétele.</td></tr>
<tr><td>Jelszó</td><td>
A felhasználói fiókba való biztonságos belépést szolgálja.</td></tr>
<tr><td>Vezeték- és keresztnév</td><td>
A kapcsolatfelvételhez, a vásárláshoz és a szabályszerű számla kiállításához szükséges.</td></tr>
<tr><td>E-mail cím</td><td>
Kapcsolattartás.</td></tr>
<tr><td>Telefonszám</td><td>
Kapcsolattartás, a számlázással vagy a szállítással kapcsolatos kérdések hatékonyabb egyeztetése.</td></tr>
<tr><td>Számlázási név és cím</td><td>
A szabályszerű számla kiállítása, továbbá a szerződés létrehozása, tartalmának meghatározása, módosítása,
 teljesítésének figyelemmel kísérése, az abból származó díjak számlázása, valamint az azzal kapcsolatos
 követelések érvényesítése.</td></tr>
<tr><td>Szállítási név és cím</td><td>
A házhoz szállítás lehetővé tétele.</td></tr>
<tr><td>A vásárlás/regisztráció időpontja</td><td>
Technikai művelet végrehajtása.</td></tr>
<tr><td>A vásárlás/regisztráció kori IP cím</td><td>
Technikai művelet végrehajtása.</td></tr></tbody></table>
<p>Sem a felhasználónév, sem az e-mail cím esetében nem szükséges, hogy személyes adatot tartalmazzon.</p>
<p><strong>Az érintettek köre:</strong> A webshop weboldalon regisztrált/vásárló valamennyi érintett.</p>
<p><strong>Az adatkezelés időtartama, az adatok törlésének határideje:</strong> Ha a GDPR 17. cikk (1) bekezdésében
 foglalt feltételek valamelyike fennáll, úgy az érintett törlési kérelméig tart. Az érintett által megadott bármely
 személyes adat törléséről az adatkezelő a GDPR 19. cikke alapján, elektronikus úton tájékoztatja az érintettet. Ha
 az érintett törlési kérelme kiterjed az általa megadott e-mail címre is, akkor az adatkezelő a tájékoztatást
 követően az e-mail címet is törli.</p>
<p>Kivéve a számviteli bizonylatok esetében, hiszen a számvitelről szóló 2000. évi C. törvény 169.
 § (2) bekezdése alapján 8 évig meg kell őrizni ezeket az adatokat.</p>
<p>Az érintett szerződéses adatai a polgárjogi elévülési idő leteltével törölhetőek az érintett
 törlési kérelme alapján.</p>
<p><i>A könyvviteli elszámolást közvetlenül és közvetetten alátámasztó számviteli bizonylatot
(ideértve a főkönyvi számlákat, az analitikus, illetve részletező nyilvántartásokat is), legalább 8 évig
 kell olvasható formában, a könyvelési feljegyzések hivatkozása alapján visszakereshető módon megőrizni.</i></p>

<p><strong>Az adatok megismerésére jogosult lehetséges adatkezelők személye, a személyes adatok címzettjei:</strong>
 A személyes adatokat az adatkezelő sales és marketing munkatársai kezelhetik, a fenti alapelvek tiszteletben
 tartásával.</p>
<p><strong>Az érintettek adatkezeléssel kapcsolatos jogainak ismertetése:</strong></p>
<p>- Az érintett kérelmezheti az adatkezelőtől a rá vonatkozó személyes adatokhoz való hozzáférést,
azok helyesbítését, törlését vagy kezelésének korlátozását, és</p>
<p>- az érintettnek joga van az adathordozhatósághoz, továbbá a hozzájárulás bármely időpontban
 történő visszavonásához.</p>
<p><strong>6. A személyes adatokhoz való hozzáférést, azok törlését, módosítását, vagy kezelésének korlátozását, az adatok hordozhatóságát az alábbi módokon tudja érintett kezdeményezni:</strong></p>
<p>- postai úton a 6722 Szeged, Mars tér 17. 2/12 címen,</p>
<p>- e-mail útján a/az minervaearrings@gmail.com e-mail címen,</p>
<p>- telefonon a +36 70 236 7315 számon.</p>
<p><strong>7. Az adatkezelés jogalapja</strong></p>
<p>1. a GDPR 6. cikk (1) bekezdés b) és c) pont,</p>
<p>2. Az elektronikus kereskedelemi szolgáltatások, valamint az információs társadalommal összefüggő
szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény (a továbbiakban: Elker tv.) 13/A. § (3) bekezdése:</p>
<p>A szolgáltató a szolgáltatás nyújtása céljából kezelheti azon személyes adatokat, amelyek a szolgáltatás
nyújtásához technikailag elengedhetetlenül szükségesek. A szolgáltatónak az egyéb feltételek azonossága esetén
úgy kell megválasztania és minden esetben oly módon kell üzemeltetnie az információs társadalommal összefüggő
 szolgáltatás nyújtása során alkalmazott eszközöket, hogy személyes adatok kezelésére csak akkor kerüljön sor,
 ha ez a szolgáltatás nyújtásához és az e törvényben meghatározott egyéb célok teljesüléséhez feltétlenül szükséges,
 azonban ebben az esetben is csak a szükséges mértékben és ideig.</p>
<p>3. A számviteli jogszabályoknak megfelelő számlát kiállítása esetén a 6. cikk (1) bekezdés c) pontja.</p>
<p>4. A szerződésből eredő követelések érvényesítése esetén a Polgári Törvénykönyvről szóló 2013. évi V. törvény 6:21. §-a szerint 5 év.</p>
6:22. § [Elévülés]
<p>(1) Ha e törvény eltérően nem rendelkezik, a követelések öt év alatt évülnek el.</p>
<p>(2) Az elévülés akkor kezdődik, amikor a követelés esedékessé válik.</p>
<p>(3) Az elévülési idő megváltoztatására irányuló megállapodást írásba kell foglalni.</p>
<p>(4) Az elévülést kizáró megállapodás semmis.</p>
<p><strong>8. Tájékoztatjuk, hogy</strong></p>
<p>- az adatkezelés szerződés teljesítéséhez és ajánlat adásához szükséges.</p>
<p>- köteles a személyes adatokat megadni, hogy tudjuk a rendelését teljesíteni.</p>
<p>- az adatszolgáltatás elmaradása azzal a következménnyel jár, hogy nem tudjuk a rendelését feldolgozni.</p>
<p><strong>Cookie-k (sütik) kezelése</strong></p>
<p>1. Az úgynevezett „jelszóval védett munkamenethez használt cookie”, „bevásárlókosárhoz szükséges cookie-k”,
 „biztonsági cookie-k”, „Szükségszerű cookie-k”, ”Funkcionális cookie-k”, és a „weboldal statisztikájának
 kezeléséért felelős cookie-k” használatához nem szükséges előzetes hozzájárulást kérni az érintettektől.</p>
<p>2. Az adatkezelés ténye, a kezelt adatok köre: Egyedi azonosítószám, dátumok, időpontok</p>
<p>3. Az érintettek köre: A weboldalt látogató valamennyi érintett.</p>
<p>4. Az adatkezelés célja: A felhasználók azonosítása és a látogatók nyomon követése.</p>
<p>5. Az adatkezelés időtartama, az adatok törlésének határideje:</p>
<table><thead><tr><th>Süti típusa</th><th>
Adatkezelés jogalapja</th><th>
Adatkezelés időtartama</th></tr></thead>
<tbody><tr><td>Munkamenet sütik (session)</td><td>
Az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalmi szolgáltatások egyes kérdéseiről szóló 2001. CVIII. törvény (Elkertv.) 13/A. § (3) bekezdése</td><td>
A vonatkozó látogatói munkamenet lezárásáig tartó időszak</td></tr><tr><td>
Állandó vagy mentett sütik</td><td>
Az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalmi szolgáltatások egyes kérdéseiről szóló 2001. CVIII. törvény (Elkertv.) 13/A. § (3) bekezdése</td><td>
az érintett törléséig</td></tr><tr><td>
Statisztikai, marketing sütik</td><td>
Az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalmi szolgáltatások egyes kérdéseiről szóló 2001. CVIII. törvény (Elkertv.) 13/A. § (3) bekezdése</td><td>
1 hónap - 2 év</td></tr></tbody></table>

<p>6. Az adatok megismerésére jogosult lehetséges adatkezelők személye: A cookie-k használatával nem kezel személyes adatokat az adatkezelő.</p>
<p>7. Az érintettek adatkezeléssel kapcsolatos jogainak ismertetése: Az érintettnek lehetőségük van a cookie-kat törölni a böngészők
Eszközök/Beállítások menüjében általában az Adatvédelem menüpont beállításai alatt.</p>
<p>8. Az adatkezelés jogalapja: Az érintettől hozzájárulás nem szükséges, amennyiben a cookie-k használatának kizárólagos
célja az elektronikus hírközlő hálózaton keresztül történő közléstovábbítás vagy arra az előfizető vagy felhasználó által
kifejezetten kért, az információs társadalommal összefüggő szolgáltatás nyújtásához a szolgáltatónak feltétlenül szüksége van.</p>
<p>9. A legtöbb böngésző, amelyet felhasználóink használnak, lehetővé teszi annak beállítását, hogy mely cookie-kat kell menteni
 és lehetővé teszi, hogy (meghatározott) cookie-k újra törlésre kerüljenek. Amennyiben Ön a cookie mentését meghatározott
 weboldalakon korlátozza vagy harmadik fél cookie-jait nem engedélyezi, úgy ez bizonyos körülmények között oda vezethet, hogy
 weboldalunk többé nem használható teljes egészében. Itt talál információkat arra vonatkozóan, hogy a szokásos böngészők esetében
 hogyan tudja a cookie beállításokat testre szabni:</p>
<p>Google Chrome (https://support.google.com/chrome/answer/95647?hl=hu)</p>
<p>Internet Explorer (https://support.microsoft.com/hu-hu/help/17442/windows-internet-explorer-delete-manage-cookies</p>
<p>Firefox (https://support.mozilla.org/hu/kb/sutik-engedelyezese-es-tiltasa-amit-weboldak-haszn)</p>
<p>Safari (https://support.apple.com/hu-hu/guide/safari/sfri11471/mac)</p>
<p><strong>Google Ads konverziókövetés használata</strong></p>
<p>1. A „Google AdWords” nevű online reklámprogramot használja az adatkezelő, továbbá annak keretein belül igénybe
 veszi a Google konverziókövető szolgáltatását. A Google konverziókövetés a Google Inc. elemző szolgáltatása
(1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“).</p>
<p>2. Amikor Felhasználó egy weboldalt Google-hirdetés által ér el, akkor egy a konverziókövetéshez szükséges
 cookie kerül a számítógépére. Ezeknek a cookie-knak az érvényessége korlátozott, és nem tartalmaznak semmilyen
 személyes adatot, így a Felhasználó nem is azonosítható általuk.</p>
<p>3. Amikor a Felhasználó a weboldal bizonyos oldalait böngészi, és a cookie még nem járt le, akkor a Google és az adatkezelő
 is láthatja, hogy Felhasználó a hirdetésre kattintott.</p>
<p>4. Minden Google AdWords ügyfél másik cookie-t kap, így azokat az AdWords ügyfeleinek weboldalain keresztül nem lehet nyomon követni.</p>
<p>5. Az információk – melyeket a konverziókövető cookie-k segítségével szereztek – azt a célt szolgálják, hogy az AdWords konverziókövetést
 választó ügyfeleinek számára konverziós statisztikákat készítsenek. Az ügyfelek így tájékozódnak a hirdetésükre kattintó és konverziókövető
 címkével ellátott oldalra továbbított felhasználók számáról. Azonban olyan információkhoz nem jutnak hozzá, melyekkel bármelyik felhasználót
 azonosítani lehetne.</p>
<p>6. Ha nem szeretne részt venni a konverziókövetésben, akkor ezt elutasíthatja azáltal, hogy böngészőjében letiltja a cookie-k
telepítésének lehetőségét. Ezután Ön nem fog szerepelni a konverziókövetési statisztikákban.</p>
<p>7. További információ valamint a Google adatvédelmi nyilatkozata az alábbi oldalon érhető el: www.google.de/policies/privacy/</p>
<p><strong>A Google Analytics alkalmazása</strong></p>
<p>1.  Ez a honlap a Google Analytics alkalmazást használja, amely a Google Inc. („Google”) webelemző szolgáltatása.
A Google Analytics úgynevezett „cookie-kat”, szövegfájlokat használ, amelyeket a számítógépére mentenek, így elősegítik
 Felhasználó által látogatott weblap használatának elemzését.</p>
<p>2.  A Felhasználó által használt weboldallal kapcsolatos cookie-kkal létrehozott információk rendszerint a Google egyik
USA-beli szerverére kerülnek és tárolódnak. Az IP-anonimizálás weboldali aktiválásával a Google a Felhasználó IP-címét az Európai
 Unió tagállamain belül vagy az Európai Gazdasági Térségről szóló megállapodásban részes más államokban előzőleg megrövidíti.</p>
<p>3.  A teljes IP-címnek a Google USA-ban lévő szerverére történő továbbítására és ottani lerövidítésére csak kivételes
esetekben kerül sor. Eme weboldal üzemeltetőjének megbízásából a Google ezeket az információkat arra fogja használni, hogy
 kiértékelje, hogyan használta a Felhasználó a honlapot, továbbá, hogy a weboldal üzemeltetőjének a honlap aktivitásával
 összefüggő jelentéseket készítsen, valamint, hogy a weboldal- és az internethasználattal kapcsolatos további szolgáltatásokat teljesítsen.</p>
<p>4.  A Google Analytics keretein belül a Felhasználó böngészője által továbbított IP-címet nem vezeti össze a Google más adataival.
 A cookie-k tárolását a Felhasználó a böngészőjének megfelelő beállításával megakadályozhatja, azonban felhívjuk figyelmét, hogy ebben
 az esetben előfordulhat, hogy ennek a honlapnak nem minden funkciója lesz teljes körűen használható. Megakadályozhatja továbbá, hogy
 a Google gyűjtse és feldolgozza a cookie-k általi, a Felhasználó weboldalhasználattal kapcsolatos adatait (beleértve az IP-címet is),
 ha letölti és telepíti a következő linken elérhető böngésző plugint. https://tools.google.com/dlpage/gaoptout?hl=hu</p>
<p><strong>Hírlevél, DM tevékenység</strong></p>
<p>A gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi XLVIII. törvény 6.
§-a értelmében Felhasználó előzetesen és kifejezetten hozzájárulhat ahhoz, hogy Szolgáltató reklámajánlataival,
egyéb küldeményeivel a regisztrációkor megadott elérhetőségein megkeresse.</p>
 <p>Továbbá Ügyfél a jelen tájékoztató rendelkezéseit szem előtt tartva hozzájárulhat ahhoz, hogy Szolgáltató a
 reklámajánlatok küldéséhez szükséges személyes adatait kezelje.</p>
<p>Szolgáltató nem küld kéretlen reklámüzenetet, és Felhasználó korlátozás és indokolás nélkül, ingyenesen leiratkozhat
az ajánlatok küldéséről. Ebben az esetben Szolgáltató minden - a reklámüzenetek küldéséhez szükséges - személyes adatát
törli nyilvántartásából és további reklámajánlataival nem keresi meg a Felhasználót. Felhasználó a reklámokról leiratkozhat
 az üzenetben lévő linkre kattintva.</p>
<p>Az adatgyűjtés ténye, a kezelt adatok köre és az adatkezelés célja:</p>
<table><thead><tr><th>Személyes adat</th><th>
Az adatkezelés célja</th></tr></thead><tbody><tr><td>
Név, e-mail cím</td><td>
Azonosítás, a hírlevélre való feliratkozás lehetővé tétele.</td></tr><tr><td>
A feliratkozás időpontja</td><td>
Technikai művelet végrehajtása.</td></tr><tr><td>
A feliratkozás kori IP cím</td><td>
Technikai művelet végrehajtása.</td></tr></tbody></table>

 <p>Az érintettek köre: A hírlevélre feliratkozó valamennyi érintett.<p>
 <p>Az adatkezelés célja: reklámot tartalmazó elektronikus üzenetek (e-mail, sms, push üzenet) küldése az érintett részére,
 tájékoztatás nyújtása az aktuális információkról, termékekről, akciókról, új funkciókról stb.</p>
 <p>Az adatkezelés időtartama, az adatok törlésének határideje: a hozzájáruló nyilatkozat visszavonásáig, azaz a leiratkozásig tart az adatkezelés.</p>
 <p>Az adatok megismerésére jogosult lehetséges adatkezelők személye, a személyes adatok címzettjei: A személyes adatokat az adatkezelő sales és marketing
 munkatársai kezelhetik, a fenti alapelvek tiszteletben tartásával.</p>
<p>11. Az érintett bármikor, ingyenesen leiratkozhat a hírlevélről.</p>
<p>Tájékoztatjuk, hogy</p>
<ul><li><strong>az adatkezelés az Ön hozzájárulásán és a szolgáltató jogos érdekén </strong>alapul.</li>
<li><strong>köteles</strong> a személyes adatokat megadni, ha hírlevelet szeretne kapni tőlünk.</li>
<li>az adatszolgáltatás elmaradása azzal a <strong>következménnyel</strong> jár, hogy nem tudunk Önnek hírlevelet küldeni.</li>
<li>tájékoztatjuk, hogy a hozzájárulását bármikor vissza tudja vonni a leiratkozásra kattintással.</li>
<li>a hozzájárulás visszavonása <strong>nem érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés jogszerűségét.</strong></li>
<p><strong>Panaszkezelés</strong></p>
<p>1. Az adatgyűjtés ténye, a kezelt adatok köre és az adatkezelés célja:</p>
<table><thead><tr><th>Személyes adat</th><th>
Az adatkezelés célja</th></tr></thead><tbody><tr><td>
Vezeték- és keresztnév</td><td>
Azonosítás, kapcsolattartás</td></tr><tr><td>
E-mail cím</td><td>
Kapcsolattartás</td></tr><tr><td>
Telefonszám</td><td>
Kapcsolattartás</td></tr><tr><td>
Számlázási név és cím</td><td>
Azonosítás, a megrendelt termékkel kapcsolatosan felmerülő minőségi kifogások, kérdések és problémák kezelése.</td></tr></tbody></table>
<p>2. Az érintettek köre: A weboldalon vásárló és minőségi kifogással élő, panaszt tevő valamennyi érintett.</p>
<p>3. Az adatkezelés időtartama, az adatok törlésének határideje: A kifogásról felvett jegyzőkönyv, átirat és az arra adott válasz
 másolati példányait a fogyasztóvédelemről szóló 1997. évi CLV. törvény 17/A. § (7) bekezdése alapján 5 évig kell megőrizni.</p>
<p>4. Az adatok megismerésére jogosult lehetséges adatkezelők személye, a személyes adatok címzettjei: A személyes adatokat az adatkezelő,
 továbbá annak értékesítő és marketing munkatársai kezelhetik, a fenti alapelvek tiszteletben tartásával.</p>
<p>5. Az érintettek adatkezeléssel kapcsolatos jogainak ismertetése:</p>
    <p>Az érintett kérelmezheti az adatkezelőtől a rá vonatkozó személyes adatokhoz való hozzáférést, azok helyesbítését, törlését vagy
	kezelésének korlátozását, és az érintettnek joga van az adathordozhatósághoz, továbbá a hozzájárulás bármely időpontban történő visszavonásához</p>
<p>6. A személyes adatokhoz való hozzáférést, azok törlését, módosítását, vagy kezelésének korlátozását, az adatok hordozhatóságát az alábbi módokon tudja érintett kezdeményezni:</p>
<p>postai úton a/az 6722 Szeged, Mars tér 17. 2/12 címen,</p>
<p>e-mail útján a/az minervaearrings@gmail.com e-mail címen,</p>
<p>telefonon a +36 70 236 7315 számon.</p>
<p>7. Tájékoztatjuk, hogy</p>
   <p>- a személyes adat szolgáltatása jogi kötelezettségen alapul.</p>
   <p>- a szerződés megkötésének előfeltétele a személyes adatok kezelése.</p>
   <p>- köteles a személyes adatokat megadni, hogy panaszát kezelni tudjuk.</p>
   <p>- az adatszolgáltatás elmaradása azzal a következménnyel jár, hogy nem tudjuk kezelni a hozzánk beérkezett panaszát.</p>
<p><strong>Címzettek, akikkel a személyes adatokat közlik</strong></p>
<p><i>„címzett”</i>: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv akivel, vagy amellyel a személyes adatot közlik, függetlenül attól, hogy harmadik fél-e.</p>
<p><strong>1. Adatfeldolgozók</strong> (akik, az adatkezelő nevében végzik az adatkezelést)</p>
<p>Az adatkezelő a saját adatkezelési tevékenységeinek elősegítése céljából, továbbá érintettel kötött szerződés-, illetve a jogszabályok által támasztott
kötelezettségeinek teljesítése érdekében adatfeldolgozókat vesz igénybe.</p>
<p>Az adatkezelő nagy hangsúlyt fektet arra, hogy kizárólag olyan adatfeldolgozókat vegyen igénybe akik, vagy amelyek megfelelő garanciákat nyújtanak
 az adatkezelés GDPR-ban foglalt követelményeinek való megfelelését és az érintettek jogainak védelmét biztosító, megfelelő technikai és szervezési intézkedések végrehajtására.</p>
<p>Az adatfeldolgozó és bármely, az adatkezelő vagy az adatfeldolgozó irányítása alatt eljáró, a személyes adatokhoz hozzáféréssel rendelkező személy a
jelen szabályzatban foglalt személyes adatokat kizárólag az adatkezelő utasításának megfelelően kezeli</p>
<p>Az adatfeldolgozó tevékenységeiért az adatkezelő jogi felelősséggel tartozik. Az adatfeldolgozó csak abban az esetben tartozik felelősséggel az
adatkezelés által okozott károkért, ha nem tartotta be a GDPR-ban meghatározott, kifejezetten az adatfeldolgozókat terhelő kötelezettségeket, vagy
ha az adatkezelő jogszerű utasításait figyelmen kívül hagyta, vagy azokkal ellentétesen járt el.</p>
<p>Az adatfeldolgozónak az adatok kezelését érintően érdemi döntéshozatala nincsen.</p>
<p>Az adatkezelő az informatikai háttár biztosítására tárhely-szolgáltatót, a megrendelt termékek kiszállítására futárszolgálatot, mint adatfeldolgozót vehet igénybe.</p>
<p><strong>2. Egyes adatfeldolgozók</strong></p>
<table><thead><tr><th>Adatfeldolgozói tevékenység</th><th>
Név, cím, elérhetőség</th></tr></thead><tbody><tr><td>
Tárhely szolgáltatás</td><td>
PythonAnywhere LLP
székhelye: 10 Bolt Court, 3rd Floor, London EC4A 3DQ, UK.
elektronikus elérhetősége: info@pythonanywhere.com
weboldala: https://www.pythonanywhere.com/</td></tr><tr><td>
Egyéb adatfeldolgozó (pl. online számlázás, webfejlesztés, marketing)</td><td>
Számlázz.hu
cégnév: KBOSS.hu Kft.
székhelye: 1031 Budapest, Záhony utca 7/C
e-mail: info@szamlazz.hu
Facebook Ireland Ltd., Cím: 4 Grand Canal Square , Grand Canal Harbour , Dublin 2 Ireland , Data Protection Officer: https://www.facebook.com/help/contact/540977946302970 ,
Data Policy Questions: https://www.facebook.com/help/contact/2061665240770586</td></tr></tbody></table>
<p><strong>3. Adattovábbítás harmadik fél részére</strong></p>
<p>„harmadik fél”: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely nem azonos az érintettel, az adatkezelővel,
 az adatfeldolgozóval vagy azokkal a személyekkel, akik az adatkezelő vagy adatfeldolgozó közvetlen irányítása alatt a személyes adatok kezelésére felhatalmazást kaptak;</p>
<p>A harmadik fél adatkezelők a saját nevükben, a saját adatvédelmi szabályzatuknak megfelelően kezelik az általunk közölt személyes adatokat.</p>
<table><thead><tr><th>Adatkezelő tevékenysége</th><th>
Név, cím, elérhetőség</th></tr><tbody><tr><td>
Fuvarozás</td><td>
Foxpost Zrt.
Székhely: 3200 Gyöngyös, Batsányi utca 9.
Telefon: +36 1 999 0369
E-mail: info@foxpost.hu
Csomagküldő.hu Kft.
Székhely: 1031 Budapest, Vizimolnár u. 10. 6/54
Telefon: +36 1 400 8806
E-mail: info@csomagkuldo.hu
A Csomagküldő.hu Kft. a nemzetközi Packeta Group tagja.</td></tr><tr><td>
Online fizetés</td><td>
Stripe Payments Europe, Ltd.
Székhely: 510 Townsend Street
San Francisco, CA 94103, USA
E-mail: info@stripe.com</td></tr></tbody></table>
<p><strong>Közösségi oldalak</strong></p>
<p>-Az adatgyűjtés ténye, a kezelt adatok köre: Facebook/Twitter/Pinterest/Youtube/Instagram stb. közösségi oldalakon regisztrált neve, illetve a felhasználó nyilvános profilképe.</p>
<p>-Az érintettek köre: Valamennyi érintett, aki regisztrált a Facebook/Twitter/Pinterest/Youtube/Instagram stb. közösségi oldalakon, és „lájkolta” a
 Szolgáltató közösségi oldalát, illetve a közösségi oldalon keresztül felvette a kapcsolatot az adatkezelővel.</p>
<p>-Az adatgyűjtés célja: A közösségi oldalakon, a weboldal egyes tartalmi elemeinek, termékeinek, akcióinak vagy magának a weboldalnak a
megosztása, illetve „lájkolása”, követése, népszerűsítése.</p>
<p>-Az adatkezelés időtartama, az adatok törlésének határideje, az adatok megismerésére jogosult lehetséges adatkezelők
személye és az érintettek adatkezeléssel kapcsolatos jogainak ismertetése: Az adatok forrásáról, azok kezeléséről, illetve
 az átadás módjáról, és jogalapjáról az adott közösségi oldalon tájékozódhat az érintett. Az adatkezelés a közösségi oldalakon
 valósul meg, így az adatkezelés időtartamára, módjára, illetve az adatok törlési és módosítási lehetőségeire az adott közösségi
 oldal szabályozása vonatkozik.</p>
<p>-Az adatkezelés jogalapja: az érintett önkéntes hozzájárulása személyes adatai kezeléséhez a közösségi oldalakon.</p>
<p><strong>Ügyfélkapcsolatok és egyéb adatkezelések</strong></p>
<p>-Amennyiben az adatkezelő szolgáltatásaink igénybevétele során kérdés merülne fel, esetleg problémája lenne az érintettnek, a honlapon
 megadott módokon (telefon, e-mail, közösségi oldalak stb.) kapcsolatba léphet az adatkezelővel.</p>
<p>-Adatkezelő a beérkezett e-maileket, üzeneteket, telefonon, Facebook-on stb. megadott adatokat az érdeklődő nevével és e-mail címével,
valamint más, önként megadott személyes adatával együtt, az adatközléstől számított legfeljebb 2 év elteltével törli.</p>
<p>-E tájékoztatóban fel nem sorolt adatkezelésekről az adat felvételekor adunk tájékoztatást.</p>
<p>-Kivételes hatósági megkeresésre, illetőleg jogszabály felhatalmazása alapján más szervek megkeresése esetén a Szolgáltató köteles
tájékoztatás adására, adatok közlésére, átadására, illetőleg iratok rendelkezésre bocsátására.</p>
<p>-A Szolgáltató ezen esetekben a megkereső részére – amennyiben az a pontos célt és az adatok körét megjelölte – személyes adatot
 csak annyit és olyan mértékben ad ki, amely a megkeresés céljának megvalósításához elengedhetetlenül szükséges.</p>
<p><strong>Az érintettek jogai</strong></p>
    <p>1. A hozzáférés joga</p>
<p>Ön jogosult arra, hogy az adatkezelőtől visszajelzést kapjon arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha
ilyen adatkezelés folyamatban van, jogosult arra, hogy a személyes adatokhoz és a rendeletben felsorolt információkhoz hozzáférést kapjon.</p>
<p>2. A helyesbítéshez való jog</p>
<p>Ön jogosult arra, hogy kérésére az adatkezelő indokolatlan késedelem nélkül helyesbítse az Önre vonatkozó pontatlan személyes adatokat.
Figyelembe véve az adatkezelés célját, Ön jogosult arra, hogy kérje a hiányos személyes adatok – egyebek mellett kiegészítő nyilatkozat útján történő – kiegészítését.</p>
<p>3. A törléshez való jog</p>
<p>Ön jogosult arra, hogy kérésére az adatkezelő indokolatlan késedelem nélkül törölje az Önre vonatkozó személyes adatokat, az adatkezelő pedig köteles arra,
hogy Önre vonatkozó személyes adatokat indokolatlan késedelem nélkül törölje meghatározott feltételek esetén.</p>
<p>4. Az elfeledtetéshez való jog</p>
<p>Ha az adatkezelő nyilvánosságra hozta a személyes adatot, és azt törölni köteles, az elérhető technológia és a megvalósítás költségeinek
figyelembevételével megteszi az ésszerűen elvárható lépéseket – ideértve technikai intézkedéseket – annak érdekében, hogy tájékoztassa az
adatokat kezelő adatkezelőket, hogy Ön kérelmezte a szóban forgó személyes adatokra mutató linkek vagy e személyes adatok másolatának, illetve
 másodpéldányának törlését.</p>
<p>5. Az adatkezelés korlátozásához való jog</p>
<p>Ön jogosult arra, hogy kérésére az adatkezelő korlátozza az adatkezelést, ha az alábbi feltételek valamelyike teljesül:</p>
<p>Ön vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az időtartamra vonatkozik, amely lehetővé teszi, hogy az adatkezelő ellenőrizze a személyes adatok pontosságát;</p>
<p>az adatkezelés jogellenes, és Ön ellenzi az adatok törlését, és ehelyett kéri azok felhasználásának korlátozását;</p>
<p>az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de Ön igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez;</p>
<p>Ön tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos indokai elsőbbséget élveznek-e Ön jogos indokaival szemben.</p>
<p>6. Az adathordozhatósághoz való jog</p>
<p>Ön jogosult arra, hogy az Önre vonatkozó, általa egy adatkezelő rendelkezésére bocsátott személyes adatokat tagolt, széles körben használt, géppel olvasható formátumban megkapja,
 továbbá jogosult arra, hogy ezeket az adatokat egy másik adatkezelőnek továbbítsa anélkül, hogy ezt akadályozná az az adatkezelő, amelynek a személyes adatokat a rendelkezésére bocsátotta (...)</p>
<p>7. A tiltakozáshoz való jog</p>
<p>A jogos érdeken, illetve a közhatalmi jogosítványon, mint jogalapokon alapuló adatkezelések esetében Ön jogosult arra, hogy a saját helyzetével kapcsolatos okokból bármikor tiltakozzon
 személyes adatainak a (...) kezelése ellen, ideértve az említett rendelkezéseken alapuló profilalkotást is.</p>
<p>8. Tiltakozás közvetlen üzletszerzés estén</p>
<p>Ha a személyes adatok kezelése közvetlen üzletszerzés érdekében történik, Ön jogosult arra, hogy bármikor tiltakozzon az Önre vonatkozó személyes adatok
e célból történő kezelése ellen, ideértve a profilalkotást is, amennyiben az a közvetlen üzletszerzéshez kapcsolódik. Ha Ön tiltakozik a személyes adatok közvetlen
 üzletszerzés érdekében történő kezelése ellen, akkor a személyes adatok a továbbiakban e célból nem kezelhetők.</p>
<p>9. Automatizált döntéshozatal egyedi ügyekben, beleértve a profilalkotást</p>
<p>Ön jogosult arra, hogy ne terjedjen ki Önre az olyan, kizárólag automatizált adatkezelésen – ideértve a profilalkotást is – alapuló döntés hatálya, amely rá nézve
 joghatással járna vagy őt hasonlóképpen jelentős mértékben érintené.</p>
<p>Az előző bekezdés nem alkalmazandó abban az esetben, ha a döntés:</p>
<p>Ön és az adatkezelő közötti szerződés megkötése vagy teljesítése érdekében szükséges;</p>
<p>meghozatalát az adatkezelőre alkalmazandó olyan uniós vagy tagállami jog teszi lehetővé, amely Ön jogainak és szabadságainak, valamint jogos érdekeinek védelmét szolgáló megfelelő intézkedéseket is megállapít; vagy</p>
<p>Ön kifejezett hozzájárulásán alapul.</p>
<p><strong>Intézkedési határidő</strong></p>
<p>Az adatkezelő indokolatlan késedelem nélkül, de mindenféleképpen a kérelem beérkezésétől számított 1 hónapon belül tájékoztatja Önt a fenti kérelmek nyomán hozott intézkedésekről.</p>
<p>Szükség esetén ez 2 hónappal meghosszabbítható. A határidő meghosszabbításáról az adatkezelő a késedelem okainak megjelölésével a kérelem kézhezvételétől számított 1 hónapon belül tájékoztatja Önt.</p>
<p>Ha az adatkezelő nem tesz intézkedéseket Ön kérelme nyomán, késedelem nélkül, de legkésőbb a kérelem beérkezésétől számított egy hónapon belül tájékoztatja Önt az intézkedés elmaradásának okairól,
 valamint arról, hogy Ön panaszt nyújthat be valamely felügyeleti hatóságnál, és élhet bírósági jogorvoslati jogával.</p>
<p><strong>Az adatkezelés biztonsága</strong></p>
<p>Az adatkezelő és az adatfeldolgozó a tudomány és technológia állása és a megvalósítás költségei, továbbá az adatkezelés jellege, hatóköre, körülményei és céljai, valamint
 a természetes személyek jogaira és szabadságaira jelentett, változó valószínűségű és súlyosságú kockázat figyelembevételével megfelelő technikai és szervezési intézkedéseket
 hajt végre annak érdekében, hogy a kockázat mértékének megfelelő szintű adatbiztonságot garantálja, ideértve, többek között, adott esetben:</p>
<p>-a személyes adatok álnevesítését és titkosítását;</p>
<p>-a személyes adatok kezelésére használt rendszerek és szolgáltatások folyamatos bizalmas jellegének biztosítását, integritását, rendelkezésre állását és ellenálló képességét;</p>
<p>-fizikai vagy műszaki incidens esetén az arra való képességet, hogy a személyes adatokhoz való hozzáférést és az adatok rendelkezésre állását kellő időben vissza lehet állítani;</p>
<p>-az adatkezelés biztonságának garantálására hozott technikai és szervezési intézkedések hatékonyságának rendszeres tesztelésére, felmérésére és értékelésére szolgáló eljárást.</p>
<p>-A kezelt adatokat úgy kell tárolni, hogy azokhoz illetéktelenek ne férhessenek hozzá. Papír alapú adathordozók esetében a fizikai tárolás, irattárazás rendjének kialakításával,
 elektronikus formában kezelt adatok esetén központi jogosultságkezelő rendszer alkalmazásával.</p>
<p>-Az adatok informatikai módszerrel történő tárolási módját úgy kell megválasztani, hogy azok törlése – az esetleg eltérő törlési határidőre is tekintettel – az adattörlési
 határidő lejártakor, illetve ha az egyéb okból szükséges, elvégezhető legyen. A törlésnek visszaállíthatatlannak kell lennie.</p>
<p>-A papír alapú adathordozókat iratmegsemmisítő segítségével, vagy külső, iratmegsemmisítésre szakosodott szervezet igénybevételével kell a személyes adatoktól megfosztani.
 Elektronikus adathordozók esetében az elektronikus adathordozók selejtezésére vonatkozó szabályok szerint kell gondoskodni a fizikai megsemmisítésről, illetve szükség szerint
 előzetesen az adatoknak a biztonságos és visszaállíthatatlan törléséről.</p>
    <p>Az adatkezelő az alábbi konkrét adatbiztonsági intézkedéseket teszi:</p>
<p>A papír alapon kezelt személyes adatok biztonsága érdekében a Szolgáltató az alábbi intézkedéseket alkalmazza (fizikai védelem):</p>
<p>1. A dokumentumokat biztonságos, jól zárható száraz helyiségben helyezni el.</p>
<p>2. Amennyiben a papíralapon kezelt személyes adatok digitalizálására kerül sor, akkor a digitálisan tárolt dokumentumokra irányadó szabályokat kell alkalmazni</p>
<p>3. A Szolgáltató adatkezelést végző munkatársa a munkavégzése során csak úgy hagyhatja el azt a helyiséget, ahol adatkezelés folyik, hogy a rá bízott adathordozókat elzárja, vagy az adott helyiséget bezárja.</p>
<p>4. A személyes adatokat csak az arra jogosult személyek ismerhetik meg, azokhoz harmadik személyek nem férhetnek hozzá.</p>
<p>5. A Szolgáltató épülete és helyiségei tűzvédelmi és vagyonvédelmi berendezéssel vannak ellátva.</p>
 <p><i>Informatikai védelem</i></p>
<p>1. Az adatkezelés során használt számítógépek és mobil eszközök (egyéb adathordozók) a Szolgáltató birtokát képezik.</p>
<p>2. A Szolgáltató által hasznát személyes adatokat tartalmazó számítógépes rendszer vírusvédelemmel van ellátva.</p>
<p>3. A digitálisan tárolt adatok biztonsága érdekében a Szolgáltató adatmentéseket és archiválásokat alkalmaz.</p>
<p>4. A központi szerver géphez csak megfelelő jogosultsággal és csakis az arra kijelölt személyek férhetnek hozzá.</p>
<p>5. A számítógépeken található adatokhoz felhasználónévvel és jelszóval lehet csak hozzáférni.</p>
<p><strong>Az érintett tájékoztatása az adatvédelmi incidensről</strong></p>
<p>Ha az adatvédelmi incidens valószínűsíthetően magas kockázattal jár a természetes személyek jogaira és szabadságaira nézve, az adatkezelő indokolatlan késedelem nélkül tájékoztatja az érintettet.</p>
<p>Az érintett részére adott tájékoztatásban világosan és közérthetően ismertetni kell az adatvédelmi incidens jellegét, és közölni kell az adatvédelmi tisztviselő vagy a további tájékoztatást nyújtó
egyéb kapcsolattartó nevét és elérhetőségeit; ismertetni kell az adatvédelmi incidensből eredő, valószínűsíthető következményeket; ismertetni kell az adatkezelő által az adatvédelmi incidens orvoslására
 tett vagy tervezett intézkedéseket, beleértve adott esetben az adatvédelmi incidensből eredő esetleges hátrányos következmények enyhítését célzó intézkedéseket.</p>
<p>Az érintettet nem kell tájékoztatni, ha a következő feltételek bármelyike teljesül:</p>
<p>- az adatkezelő megfelelő technikai és szervezési védelmi intézkedéseket hajtott végre, és ezeket az intézkedéseket az adatvédelmi incidens által érintett adatok
tekintetében alkalmazták, különösen azokat az intézkedéseket – mint például a titkosítás alkalmazása –, amelyek a személyes adatokhoz való hozzáférésre fel nem jogosított
 személyek számára értelmezhetetlenné teszik az adatokat;</p>
<p>- az adatkezelő az adatvédelmi incidenst követően olyan további intézkedéseket tett, amelyek biztosítják, hogy az érintett jogaira és szabadságaira jelentett, magas
 kockázat a továbbiakban valószínűsíthetően nem valósul meg;</p>
<p>- a tájékoztatás aránytalan erőfeszítést tenne szükségessé. Ilyen esetekben az érintetteket nyilvánosan közzétett információk útján kell tájékoztatni, vagy
olyan hasonló intézkedést kell hozni, amely biztosítja az érintettek hasonlóan hatékony tájékoztatását.</p>
<p>Ha az adatkezelő még nem értesítette az érintettet az adatvédelmi incidensről, a felügyeleti hatóság, miután mérlegelte, hogy az adatvédelmi incidens valószínűsíthetően
 magas kockázattal jár-e, elrendelheti az érintett tájékoztatását.</p>
<p><strong>Adatvédelmi incidens bejelentése a hatóságnak</strong></p>
<p>Az adatvédelmi incidenst az adatkezelő indokolatlan késedelem nélkül, és ha lehetséges, legkésőbb 72 órával azután, hogy az adatvédelmi incidens a tudomására jutott,
 bejelenti az 55. cikk alapján illetékes felügyeleti hatóságnak, kivéve, ha az adatvédelmi incidens valószínűsíthetően nem jár kockázattal a természetes személyek jogaira
 és szabadságaira nézve. Ha a bejelentés nem történik meg 72 órán belül, mellékelni kell hozzá a késedelem igazolására szolgáló indokokat is.</p>
<p><strong>Panasztételi lehetőség</strong></p>
<p>Az adatkezelő esetleges jogsértése ellen panasszal a Nemzeti Adatvédelmi és Információszabadság Hatóságnál lehet élni:</p>
<p>Nemzeti Adatvédelmi és Információszabadság Hatóság</p>
<p>1055 Budapest, Falk Miksa utca 9-11.</p>
<p>Levelezési cím: 1363 Budapest, Pf. 9.</p>
<p>Telefon: +36 -1-391-1400</p>
<p>Fax: +36-1-391-1410</p>
<p>E-mail: ugyfelszolgalat@naih.hu</p>
<p><strong>Zárszó</strong></p>
<p>A tájékoztató elkészítése során figyelemmel voltunk az alábbi jogszabályokra:</p>
    <p>- A természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről
	(általános adatvédelmi rendelet) AZ EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE (GDPR)(2016. április 27.);</p>
    <p>- 2011. évi CXII. törvény – az információs önrendelkezési jogról és az információszabadságról (a továbbiakban: Infotv.);</p>
    <p>- 2001. évi CVIII. törvény – az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről (főképp a 13/A. §a);</p>
    <p>- 2008. évi XLVII. törvény – a fogyasztókkal szembeni tisztességtelen kereskedelmi gyakorlat tilalmáról;</p>
    <p>- 2008. évi XLVIII. törvény – a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól (különösen a 6.§a);</p>
    <p>- 2005. évi XC. törvény az elektronikus információszabadságról;</p>
    <p>- 2003. évi C. törvény az elektronikus hírközlésről (kifejezetten a 155.§a);</p>
    <p>- 16/2011. sz. vélemény a viselkedésalapú online reklám bevált gyakorlatára vonatkozó EASA/IABajánlásról;</p>
    <p>- A Nemzeti Adatvédelmi és Információszabadság Hatóság ajánlása az előzetes tájékoztatás adatvédelmi követelményeiről.</p>
</div>
</div>
{% endblock %}

{% include 'shop/footer.html' with contact=True %}