{% load static %}
{% spaceless %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="submark-logo-wrapper">
                    <a href="{% url 'shop:index' %}">
                        <picture>
                          <source srcset="{% static 'images/submark_150.webp' %}" type="image/webp">
                          <img src="{% static 'images/submark_150.png' %}" alt="Minerva Logo" title="Minerva Logo image" width="200" height="200" style="aspect-ratio:200/200;" loading="lazy">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="social">
                    <div id="facebook">
                        <a href="https://www.facebook.com/minervastudio.hu">
                            <picture>
                              <source srcset="{% static 'images/facebook_150.webp' %}" type="image/webp">
                              <img src="{% static 'images/facebook_150.png' %}" alt="facebook icon" title="facebook icon image" width="65" height="65" style="aspect-ratio:65/65;" loading="lazy"/>
                            </picture>
                        </a>
                    </div>
                    <div id="instagram">
                        <a href="https://www.instagram.com/minervastudio.hu/">
                            <picture>
                              <source srcset="{% static 'images/instagram_150.webp' %}" type="image/webp">
                              <img src="{% static 'images/instagram_150.png' %}" alt="instagram icon" title="instagram icon" width="65" height="65" style="aspect-ratio:65/65;" loading="lazy"/>
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row navigation-row" {% if request.path != '/' %}style="background: #FCEDE4;"{% endif %}>
            <div class="col-sm-12">
                <div class="navigation">
                    <ul class="mainmenu">
                        <li class="menu-item">
                            <a title="Termékek" href="{% url 'shop:products_view' %}" >Termékek</a>
                        </li>
                        <li class="menu-item">
                            <a title="GYIK" href="{% url 'shop:faq' %}" >GYIK</a>
                        </li>
                        <li class="menu-item">
                            <a title="Kapcsolat" href="{% url 'shop:contact' %}" >Kapcsolat</a>
                        </li>
                        {% if CUSTOM %}
                        <li class="menu-item">
                            <a title="Egyedi rendelés" href="{% url 'shop:custom_products_view' %}" >Egyedi rendelés</a>
                          </li>
                        {% endif %}
                        <li class="menu-item">
                            <a title="ÁSZF" href="{% url 'shop:aszf' %}" >ÁSZF</a>
                        </li>
                        <li class="menu-item">
                            <a title="Impresszum" href="{% url 'shop:impresszum' %}" >Impresszum</a>
                        </li>
                        <li class="menu-item">
                            <a title="Adatkezelési Tájékoztató" href="{% url 'shop:data_handling' %}" >Adatkezelési Tájékoztató</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% if shipping_information != None %}
<section id="information-consent" class="information-consent">
    <div class="information-consent-inner">
        <div class="information">
            <div class="information-inner">
                <div class="information-msg">Kedves látogató! <br />{{ shipping_information }}</div>
                <div class="information-accept">
                    <button id="information" class="information-button" onclick='SetInfoAndHideDiv();'>Értem</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section id="cookie-consent" class="cookie-consent">
	<div class="cookie-consent-inner">
		<div class="cookie">

			<div class="cookie-msg">Kedves látogató. Tájékoztatlak, hogy a honlap felhasználói élmény fokázásnak érdekében sütiket alkalmazunk. A honlap használatával a tájékoztatást tudomásul veszed.</div>
			<div class="cookie-accept">
				<button id="cookie" class="cookie-button" onclick='SetCookieAndHideDiv();'>OK</button>
			</div>

		</div>
	</div>
</section>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
{% if home %}
    <script src="{% static 'js/owl.carousel.min.js' %}" defer ></script>
    <script src="{% static 'js/home_page_carousel.js' %}" defer></script>
    <script src="{% static 'js/home.js' %}" defer></script>
{% endif %}
<script src="{% static 'js/popper.min.js' %}" defer></script>
<script src="{% static "js/js.cookie.min.js" %}" defer></script>
<script>
jQuery.event.special.touchstart = {
    setup: function( _, ns, handle ) {
        this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
    }
};
jQuery.event.special.touchmove = {
    setup: function( _, ns, handle ) {
        this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
    }
};
</script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<script src="{% static 'js/main.js' %}" defer></script>
<script src="{% static 'js/cookies.js' %}" defer></script>
{% if stripe %}
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="{% static 'js/stripe_payment.js' %}" defer></script>
{% endif %}
{% if contact %}
    <script src="{% static 'js/contact.js' %}" defer></script>
{% endif %}
{% if product_list %}
    <script src="{% static 'js/product_list.js' %}" defer></script>
{% endif %}
{% if product_details %}
    <script src="{% static 'js/product_details_v2.js' %}" defer></script>
{% endif %}
{% if cart_page %}
    <script src="{% static 'js/cart_v2.js' %}" defer></script>
{% endif %}
  </body>
</html>
{% endspaceless %}