{% include "shop/base.html" with notification=notification index=True %}
{% load static %}

{% block content %}
<div class="content">
    <section class="home-image">
        <div class="row">
            <div class="fluid-image-wrapper">
                <picture id="desktop-image">
                  <source srcset="{% static 'images/home.webp' %}" type="image/webp">
                  <source srcset="{% static 'images/home_mobile.webp' %}" type="image/webp">
                  <img src="{% static 'images/home.png' %}" alt="Minervastudio home image" title="Minervastudio home image photo">
                </picture>
                <picture id="mobile-image">
                  <source srcset="{% static 'images/home_mobile.webp' %}" type="image/webp">
                  <source srcset="{% static 'images/home_mobile.png' %}" type="image/png">
                  <img src="{% static 'images/home_mobile.png' %}" alt="Minervastudio home image" title="Minervastudio home image photo">
                </picture>
            </div>
        </div>
    </section>
    <section id="home-handmade">
        <div><h1>handmade in budapest</h1></div>
    </section>
    <section class="home-information" id="top">
        <div class="row">
            <div class="col-sm-12">
                <div class="fluid-text-wrapper">
                    <p>A Minerva Studio ékszerei kézzel készülnek, minden egyes darab különleges</p>
                    <p>odafigyelést kap, hogy a lehető legjobb minőségben kerüljön hozzád!</p>
                    <div class="fluid-text-anchor">
                        <a title="Termékek" href="{% url 'shop:products_view' %}">Termékek</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home-collections">
        <!-- Top content -->
        <!-- basic collection -->
        {% if basic_collection|length > 0 %}
        <div class="row">
            <div class="header-text-wrapper">
                <h2>ALAP KOLLEKCIÓ</h2>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme">
                {% for product in basic_products %}
                    {% if product.image %}
                    <a href="{% url 'shop:product_detail' id=product.collection.slug slug=product.slug %}" title="{{ product.name }}">
                        <picture>
                          <source srcset="{{ product.image.url|wp }}" type="image/webp">
                          <source srcset="{{ product.image.url }}" type="image/png">
                          <img class="img-fluid" src="{{ product.image.url }}"
                               alt="{{ product.name }}"
                               title="{{ product.name }} photo" />
                        </picture>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="fluid-text-anchor container-fluid" id="home-page-carousel-buy-button">
            {% with basic_collection.all|first as collection %}
                <a title="Teljes kollekció" href="{% url 'shop:products_view' slug=collection.slug %}">Teljes kollekció</a>
            {% endwith %}
        </div>
        {% endif %}
        <!-- end of basic collection -->
        <!-- regular collections -->
        {% if regular_collections|length > 0 %}
        <div class="row">
            <div class="header-text-wrapper">
                <h2>ÁLLANDÓ KOLLEKCIÓK</h2>
            </div>
        </div>
        <div class="row">
            <div class="home-collection-wrapper d-flex justify-content-center">
                {% for collection in regular_collections %}
                    {% if collection.image %}
                        <div class="home-collection-item">
                            <div class="text-on-image-image-wrapper">
                                <picture>
                                  <source srcset="{{ collection.image.url|wp }}" type="image/webp">
                                  <source srcset="{{ collection.image.url }}" type="image/png">
                                  <img src="{{ collection.image.url }}" alt="{{ collection.name }}"
                                       title="{{ collection.name }} photo" />
                                </picture>
                            </div>
                            <div class="text-on-image-wrapper">
                                <a title="{{ collection.name }}" href="{% url 'shop:products_view' slug=collection.slug %}">
                                    <span class="home-collection-title">{{ collection.name }}</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- end of regular collections -->
        <!-- temporary collections -->
        {% if temporary_collections|length > 0 %}
        <div class="row">
            <div class="header-text-wrapper">
                <h2>IDŐSZAKOS KOLLEKCIÓK</h2>
            </div>
        </div>
        <div class="row">
            <div class="home-collection-wrapper">
                {% for collection in temporary_collections %}
                    {% if collection.image %}
                        <div class="home-collection-item">
                            <div class="text-on-image-image-wrapper">
                                <picture>
                                  <source srcset="{{ collection.image.url|wp }}" type="image/webp">
                                  <source srcset="{{ collection.image.url }}" type="image/png">
                                  <img src="{{ collection.image.url }}" alt="{{ collection.name }}"
                                       title="{{ collection.name }} photo" />
                                </picture>
                            </div>
                            <div class="text-on-image-wrapper">
                                <a title="{{ collection.name }}" href="{% url 'shop:products_view' slug=collection.slug %}">
                                    <span class="home-collection-title">{{ collection.name }}</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- end of temporary collections -->
    </section>
    <section class="home-image">
        <div class="row">
            <div class="fluid-image-wrapper">
                <picture>
                  <source srcset="{% static 'images/home2.webp' %}" type="image/webp">
                  <img src="{% static 'images/home2.png' %}" alt="Minerva Studio home" title="Minerva Studio home image" />
                </picture>
            </div>
        </div>
    </section>
    <section class="home-information" id="bottom">
        <div class="row">
            <div class="col-sm-12">
                <div class="fluid-text-wrapper">
                    <p>Saját színkeverés, így ezek is egyediek pont, mint Te!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-image-with-text">
        <div class="row">
            <div class="home-image-with-text-wrapper">
                <div class="home-image-wrapper">
                    <picture>
                      <source srcset="{% static 'images/home3.webp' %}" type="image/webp">
                      <img src="{% static 'images/home3.png' %}" alt="Környezetbarát csomagolás" title="Környezetbarát csomagolás">
                    </picture>
                </div>
                <div class="home-text-wrapper">
                    <div class="home-text-header">
                        <h3>KÖRNYEZETBARÁT CSOMAGOLÁS</h3>
                    </div>
                    <ul>
                        <li>100% újrafelhasználható papírból készült natúr</li>
                        <li>kraft barna doboz színezés nélkül.</li>
                        <li>Papír ragasztószalag.</li>
                        <li>100%-ban papírként szelektíven gyűjthető fehér</li>
                        <li>csomagolópapír.</li>
                        <li>0% műanyag.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% include 'shop/footer.html' with home=True shipping_information=shipping_information %}