{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Minerva Studio</title>
    <link href="{% static "css/counter.css" %}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <header id="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="notification-wrapper">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="main-logo">
              <a href="{% url 'shop:index' %}">
                  <img class="c_logo" src="{% static 'images/submark_150.png' %}" alt="Minerva Studio Logo"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="content">
        <section id="content-title">
            <div class="container">
                <div class="row">
                    <div id="top-text">
                        <h1>Hamarosan</h1>
                    </div>
                    <div id="bottom-text">
                        <h2>elérhetőek leszünk!</h2>
                    </div>
                </div>
            </div>
        </section>
<!--        <section id="counter">-->
<!--            <span id="time">99:00</span>-->
<!--        </section>-->
    </div>

  <footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="social">
                    <div id="facebook">
                        <a href="https://www.facebook.com/minervastudio.hu">
                            <img src="{% static 'images/facebook_150.png' %}" alt="facebook icon" />
                        </a>
                    </div>
                    <div id="instagram">
                        <a href="https://www.instagram.com/minervastudio.hu/">
                            <img src="{% static 'images/instagram_150.png' %}" alt="instagram icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="{% static 'js/countdown.js' %}"></script>
  </body>
</html>
