{% include "shop/base.html" with notification=notification payment=True notfound=False device=device %}
{% load static %}

{% block content %}
<div id="payment-result-container">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="success-wrapper">
            <div class="success-icon">
              <img src="{% static 'images/tick.png' %}" alt="Sikeres üzenetküldés" title="Sikeres üzenetküldés" />
            </div>
            <div class="success-text">
              <p>Üzeneted sikeresen eljutott hozzám.</p>
              <p>A válasszal hamarosan a megadott e-mailen keresztül foglak megkeresni.</p>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% include 'shop/footer.html' %}
