@font-face {
  font-family: california-sherif;
  src: url(../fonts/THECALIFORNIASERIF.OTF);
}

@font-face {
  font-family: california-script;
  src: url(../fonts/THECALIFORNIASCRIPT.OTF);
}

@font-face {
  font-family: medium-italic;
  src: url(../fonts/GILL_SANS_MEDIUM_ITALIC.OTF);
}

@font-face {
  font-family: medium;
  src: url(../fonts/GILL_SANS_MEDIUM.OTF);
}

@font-face {
  font-family: light-italic;
  src: url(../fonts/GILL_SANS_LIGHT_ITALIC.OTF);
}

@font-face {
  font-family: light;
  src: url(../fonts/GILL_SANS_LIGHT.OTF);
}

@font-face {
  font-family: italic;
  src: url(../fonts/GILL_SANS_ITALIC.OTF);
}

@font-face {
  font-family: heavy-italic;
  src: url(../fonts/GILL_SANS_HEAVY_ITALIC.OTF);
}

@font-face {
  font-family: heavy;
  src: url(../fonts/GILL_SANS_HEAVY.OTF);
}

@font-face {
  font-family: bold;
  src: url(../fonts/GILL_SANS_BOLD.OTF);
}

@font-face {
  font-family: bold-italic;
  src: url(../fonts/GILL_SANS_BOLD_ITALIC.OTF);
}

@font-face {
  font-family: gill;
  src: url(../fonts/GILL_SANS.OTF);
}

@font-face {
  font-family: anthery;
  src: url(../fonts/ANTHERY_COLLECTION.OTF);
}
@media only screen and (max-width: 1920px) {
    #header {
        background-color: #fff;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #header .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    #header .container-fluid {
        padding: 0;
        margin: 0;
    }

    .notification-wrapper {
        background: #D6AC23;
        font-size: 27.7px;
        color: #fff;
        text-align: center;
        height: 62px;
        letter-spacing: 3px;
        font-family: light;
        line-height: 69px;
    }

    #main-logo {
        text-align: center;
    }

    #main-logo img {
        width: 265px;
        margin-top: 25px;
    }

    #top-text h1 {
        font-family: california-sherif;
        font-size: 100px;
        color: #D6AC23;
    }

    #bottom-text, #top-text {
        text-align: center;
        width: 100%;
    }

    #bottom-text h2 {
        font-family: bold;
        font-size: 28px;
        color: #758689;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    #submark-logo-wrapper {
        text-align: center;
    }

    #submark-logo-wrapper img {
        width: 200px;
    }

    #social {
        margin-top: 30px;
    }

    #social img {
        width: 65px;
    }

    #social #facebook, #social #instagram {
        width: 50%;
        float: left;
    }

    #social #facebook img {
        float: right;
        margin-right: 10px;
    }

    #social #instagram img {
        margin-left: 10px;
    }

    footer .container-fluid {
        padding: 0;
    }

    footer {
        width: 640px;
        margin: 0% -320px;
        position: fixed;
        left: 50%;
        bottom: 2%;
    }

    #content-title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1536px) {
    #top-text h1 {
        font-size: 90px;
    }

    #main-logo img {
        width: 235px;
    }
}

@media only screen and (max-width: 1440px) {
    #top-text h1 {
        font-size: 90px;
    }
    #content-title {
        top: 50%;
    }
}

@media only screen and (max-width: 1366px) {
    #top-text h1 {
        font-size: 70px;
    }
    #content-title {
        top: 50%;
    }

    #main-logo img {
        width: 205px;
    }

    #bottom-text h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1280px) {
    #top-text h1 {
        font-size: 65px;
    }

    #main-logo img {
        width: 185px;
    }

    #bottom-text h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 736px) {
    #top-text h1 {
        font-size: 45px;
    }

    #main-logo img {
        width: 125px;
    }

    #bottom-text h2 {
        font-size: 14px;
    }

    #content-title {
        top: 50%;
    }

    #social img {
        width: 55px;
    }
}

@media only screen and (max-width: 667px) {
    #top-text h1 {
        font-size: 40px;
    }

    #main-logo img {
        width: 105px;
        margin-top: 15px;
    }

    #bottom-text h2 {
        font-size: 14px;
    }

    #content-title {
        top: 50%;
    }

    #social img {
        width: 55px;
    }

    .notification-wrapper {
        height: 32px;
    }
}

@media only screen and (max-width: 568px) {
    #top-text h1 {
        font-size: 30px;
    }

    #main-logo img {
        width: 105px;
        margin-top: 5px;
    }

    #bottom-text h2 {
        font-size: 14px;
    }

    #content-title {
        top: 50%;
    }

    #social img {
        width: 45px;
    }
}

/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { }

/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { }

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    #content-title {
        top: 50%;
    }
}

@media only screen and (max-device-width: 360px) and (max-device-height: 780px) and (-webkit-device-pixel-ratio: 2) {
    #content-title {
        top: 50%;
    }
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { }

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (max-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {

}

/* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2) {
    #content-title {
        top: 50%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    #content-title {
        top: 50%;
    }
}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    #content-title {
        top: 50%;
    }
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
    #content-title {
        top: 50%;
    }
}
